영화 & 공연 & 익디 & 인플루언서 & 버추얼스타 중복 검수 & 솔라쿼리 입력 자동화

In [5]:
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
from tqdm.notebook import tqdm
import requests
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
import numpy as np
import re
import time
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import datetime

def db_connection(host_name='ds'):
    host_url = "db.ds.mycelebs.com"
    user_nm = 
    passwd = 
    port_num = 3306
    db_name = "star_ko"
    conn = pymysql.connect(host=host_url, user=user_nm, passwd=passwd, port=port_num, charset='utf8',
                           db=db_name, cursorclass=pymysql.cursors.DictCursor)
    # cursorclass=pymysql.cursors.DictCursor 추가 -> 데이터프레임으로 다루기 쉽게 딕셔너리 형태로 결과 반환해줌, cursor는 튜플형태
    # db=db,
    engine = create_engine(f'mysql+pymysql://{user_nm}:{passwd}@{host_url}:{port_num}/{db_name}?charset=utf8mb4')
    return conn, engine

# 아웃풋 다 노출되게
def set_pandas_display_options() -> None:
    display = pd.options.display
    display.max_columns = 100
    display.max_rows = 100
    display.max_colwidth = 199
    display.width = None
set_pandas_display_options()

In [6]:
overlap = []

df = pd.read_excel("sample.xlsx")
df.head(3)

,name,daum,naver,solr
0,이승현,https://100.daum.net/encyclopedia/view/33XXXX781215,https://search.naver.com/search.naver?where=nexearch&sm=tab_etc&mra=bjky&pkid=1&os=161964&qvt=0&query=%EC%9D%B4%EC%8A%B9%ED%98%84,NaN
1,김태인,x,https://search.naver.com/search.naver?where=nexearch&sm=tab_etc&mra=bjky&pkid=1&os=9712760&qvt=0&query=%EA%B9%80%ED%83%9C%EC%9D%B8,NaN
2,김수연,https://100.daum.net/encyclopedia/view/33XXX2140687,https://search.naver.com/search.naver?where=nexearch&sm=tab_etc&mra=bjky&pkid=1&os=8293716&qvt=0&query=%EA%B9%80%EC%88%98%EC%97%B0,NaN

## 코비스 & 공연

In [7]:
#중복 인물 확인
conn, engine = db_connection()

for i, row in df.iterrows() :
    name = row['name']
    qry = f"select series_id, cd_name, cd_real_name, cd_category, cd_gender, cd_solr_search, cd_height, cd_weight, cd_birth, cd_agency, cd_debut, cd_academic, cd_career, cd_award from star_ko_data where (cd_name ='{name}' or cd_real_name='{name}') and cd_is_use=1"
    result = pd.read_sql(qry, conn)
    if result.empty:
        pass
    else :
        overlap.append(name)
        display(result)
    
conn.close()

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,541,승리,이승현,가수,남자,"(content_all:((title: ""승리"" title:""이승현"")AND""기자"" AND(""빅뱅"" OR ""가수 승리""~5 ""YG엔터"")))",177.0,60.0,1990-12-12 00:00:00,,2006년 빅뱅 싱글 앨범 'Bigbang',None,None,None
1,1730,이승현,,방송인,여자,"(content_all:(title:""이승현""AND""아나운서""NOT""농구""NOT""선수""NOT""오리온 이승현""~10))",NaN,NaN,1985-06-17 00:00:00,KBS,2012년 KBS 39기 공채 아나운서,서울대학교 화학교육학 학사,,
2,3247,이승현,이승현,"가수, 방송인",남자,"(content_all:(title:""이승현"" AND""기자"" AND(""테이크"" OR ""가수 이승현"")))",180.0,62.0,1984-10-30 00:00:00,,2003년 테이크 1집 앨범 '1story',단국대학교 연극영화학과,,
3,2329192,이승현,None,가수,여자,"(content_all:(""프로듀스48 김나영""~10 OR ""프듀48 김나영""~10))",171.0,55.0,0000-00-00 00:00:00,WM,None,None,None,None
4,12427457,이승현,이승현,영화배우,남자,"(content_all:(""영화배우 이승현""~10 OR ""수선화 이승현""~50))",NaN,NaN,0000-00-00 00:00:00,None,1973년 영화 '수선화',None,None,1977 제13회 백상예술대상 특별상
5,18958759,이승현,이승현,운동선수,남자,"(content_all : (title: ""이승현"") AND type: news AND(""야구"" OR ""삼성"" OR ""투수"") NOT ""신인"")",181.0,92.0,1991-11-20 00:00:00,None,2009년 LG 트윈스 입단,화순고등학교,삼성 라이온즈,None
6,19068038,이승현,이승현,"연극배우,영화배우",남자,"(content_all:(title:""이승현"" AND type:news AND(""미스터 보스"" OR ""온택트"" OR ""챠큭"" OR ""넷째"" OR ""서지혜"" OR ""햄릿"" OR ""살인자"" OR ""맥베드"" OR ""마리아와"") NOT""회장"" NOT""오리온"" NOT""체육관""))",175.0,0.0,1986-12-27 00:00:00,None,None,청주대학교 공연영상학부 학사,None,None
7,19341426,이승현,이승현,가수,남자,"(content_all:(title:""이승현"" AND type:news AND(""더 이스트라이트"")))",0.0,0.0,2001-12-31 00:00:00,None,None,None,None,None

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,478690,김지아,김수연,배우,여자,"(content_all:(""YMC엔터테인먼트 김지아""~10))",NaN,NaN,1991-05-02 00:00:00,YMC엔터테인먼트,None,동덕여자대학교 방송연예과,None,None
1,664352,인아,김수연,가수,여자,"(content_all:(title:""가수 인아"" AND type:news AND""INA""))",170.0,49.0,None,,KBS 드라마 '프로듀사',None,믹스나인,None
2,19157823,김수연,김수연,배우,여자,"(content_all:(title:""김수연"" AND type:news AND (""탤런트"") ))",161.0,40.0,0000-00-00 00:00:00,None,2011년 MBC every1 시트콤 '레알 스쿨!',동덕여자대학교 방송연예과,None,None
3,20494766,김수연,김수연,가수,여자,"(content_all:(title:""김수연"" AND type:news AND ""방과후 설렘""))",0.0,0.0,2003-12-23 00:00:00,None,None,None,None,None
4,20799809,김수연,None,"배우,작가",여자,"(content_all:(title:""김수연"" AND type:news AND(""동화작가"")))",166.0,NaN,None,None,2003년 KBS 공채 탤런트 20기,중앙대학교 연극학과,None,None
5,21085459,쏘머즈,김수연,가수,여자,"(content_all:((title:""쏘머즈"" title:""김수연"") AND type:news AND type:news AND""버블시스터즈 ""))",NaN,NaN,1980-09-17 00:00:00,아츠로이엔티,2003년 버블시스터즈 1집 앨범 [Bubble Sisters],None,2014 그룹 '갓솔저' 멤버,None

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,18887460,김예진,김예진,"영화배우,연극배우",여자,"(content_all:(title:""김예진"" AND type:news AND(""배우"" OR ""연극"" OR ""영화"" OR ""딴따라"" OR ""결백"" OR ""스물"") NOT""쇼트트랙"" NOT""디자이너"" NOT""패션쇼"" NOT""아나운서"" NOT""뉴썬""))",160,44,1994-05-13,None,None,None,None,None

In [8]:
# 코비스 & 공연
chrome_options = webdriver.ChromeOptions()
driver = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)

pid = 
ppw = 
driver.get(f'http://{pid}:{ppw}@dev.mycelebs.com/donut/')
alert = driver.switch_to.alert
alert.accept()
time.sleep(2.0)

driver.find_element_by_css_selector('#adminId').send_keys('')
driver.find_element_by_css_selector('#adminPw').send_keys('')
btn = driver.find_element_by_css_selector('#loginForm > button')
btn.click()

chrome_options = webdriver.ChromeOptions()
profile = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)

# tabs = profile.window_handles

data = []

for i, row in tqdm(df.iterrows(), total=df.shape[0]) :
    name = row['name']
    naver = row['naver']
    keyword_list = []
    
    print(name)
    
    if pd.isnull(naver) :
        solr = f'(content_all:(title:"{name}" AND type:news))'
    
    elif naver == 'x' :
        solr = f'(content_all:(title:"{name}" AND type:news))'
    
    else :
        while True :
            try :
                profile.get(naver)

                time.sleep(1)

                source = profile.page_source
                soup = BeautifulSoup(source, "lxml")

                # 직업
                sub_title = soup.select('div[class="sub_title first_elss"]')[0].select('span[class=txt]')
                if len(sub_title) == 2:
                    job = sub_title[1].text

                elif len(sub_title) == 1:
                    job = sub_title[0].text

                job = job.replace(" ", "")
                job = job.replace("탤런트", "배우")
                job = job.replace("영화배우", "배우")
                job = job.replace("영화감독", "감독")
                job = job.replace("연극배우", "연극,배우")
                job = job.replace("뮤지컬배우", "뮤지컬,배우")
                job = job.replace("시나리오작가", "작가")
                job = job.replace("애니메이션감독", "애니메이션")
                job = job.replace("영화제작자", "영화")
                job = job.replace("연극연출가", "연극,연출")
                job = job.replace("PD", "PD,프로듀서")
                job = job.replace("개그맨", "개그맨,코미디언")
                keyword_list.extend(job.split(','))

                dt_in_info_txt = soup.select('div[class="detail_info"]')[0].select('dt')
                dd_in_info_txt = soup.select('div[class="detail_info"]')[0].select('dd')

                for row_len in range(len(dt_in_info_txt)) :
                    title = dt_in_info_txt[row_len].text
                    inner = dd_in_info_txt[row_len]

                    # 소속사
                    if title == '소속사' :
                        agency = inner.text.strip()
                        agency = agency.replace("엔터테인먼트", "")
                        agency = agency.lstrip() # 앞 공백 제거
                        keyword_list.append(agency)

                    # 소속
                    elif title == '소속' :
                        belong_not_celeb = inner.text
                        belong_not_celeb = belong_not_celeb.lstrip() # 앞 공백 제거
                        keyword_list.append(belong_not_celeb)

                    # 소속그룹
                    elif '그룹' in title :
                        belong_group = inner.text
                        belong_group = belong_group.replace(" ", "")
                        keyword_list.append(belong_group)
                        
            except IndexError :
                continue
            break

            
    keyword_list = list(set(keyword_list))  # 중복제거

    
    if len(keyword_list) == 0 :
        solr = f'(content_all:(title:"{name}" AND type:news))'
    elif len(keyword_list) == 1 :
        solr = '(content_all:(title:"{}" AND type:news AND"{}"))'.format(name, keyword_list[0])
    elif len(keyword_list) == 2 :
        solr = '(content_all:(title:"{}" AND type:news AND("{}" OR "{}")))'.format(name, keyword_list[0], keyword_list[1])
    elif len(keyword_list) == 3 :
        solr = '(content_all:(title:"{}" AND type:news AND("{}" OR "{}" OR "{}")))'.format(name, keyword_list[0], keyword_list[1], keyword_list[2])
    elif len(keyword_list) == 4 :
        solr = '(content_all:(title:"{}" AND type:news AND("{}" OR "{}" OR "{}" OR "{}")))'.format(name, keyword_list[0], keyword_list[1], keyword_list[2], keyword_list[3])    
    else :
        solr = f'(content_all:(title:"{name}" AND type:news))'
        
#     break
           
    url = 'http://dev.mycelebs.com/donut/index.php/Verticalanalysis/ShowKeyword'
    driver.get(url)

    driver.find_element_by_xpath('//*[@id="query"]').clear()
    driver.find_element_by_xpath('//*[@id="query"]').send_keys(solr)
    driver.find_element_by_xpath('//*[@id="submit_btn"]').click()
    
    if (f'{name}') in overlap :
        solr_input = input(f'!! 중복인이 있습니다.')
    else :
        solr_input = input('솔라쿼리를 입력하세요.')
    if solr_input == '':
          solr_input = solr
    
    data_ = {'name':name, 'daum':'x', 'naver':naver, 'solr':solr_input}
    data.append(data_)
    
    
df = pd.DataFrame(data, columns = ['name', 'daum', 'naver', 'solr'])
df.to_excel("sample.xlsx", index = False, encoding='utf-8-sig')

driver.close()
profile.close()

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST driver version for 96.0.4664
Driver [/Users/jieun/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache


====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST driver version for 96.0.4664
Driver [/Users/jieun/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache

  0%|          | 0/10 [00:00<?, ?it/s]

이승현
!! 중복인이 있습니다.(content_all:(title:"이승현" AND type:news AND"뮤지컬"))
김태인
솔라쿼리를 입력하세요.
김수연
!! 중복인이 있습니다.(content_all:(title:"김수연" AND type:news AND("뮤지컬" OR "SM C&C")))
엄태리
솔라쿼리를 입력하세요.
고봉조
솔라쿼리를 입력하세요.(content_all:(title:"고봉조" AND type:news))
김예진
!! 중복인이 있습니다.(content_all:(title:"김예진" AND type:news AND("연극" OR "배우" OR "연출가") AND("고봉조" OR "문화생활" OR "사랑한다 웬수야" OR "비밀하우스" OR "그 자매에게 무슨 일이" OR "샤갈을")))
황현아
솔라쿼리를 입력하세요.
강보라
솔라쿼리를 입력하세요.
유준원
솔라쿼리를 입력하세요.
황석용
솔라쿼리를 입력하세요.

## smr & vlive & 익디

In [11]:
# smr & vlive & 익디
chrome_options = webdriver.ChromeOptions()
driver = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)

pid = 
ppw = 
driver.get(f'http://{pid}:{ppw}@dev.mycelebs.com/donut/')
alert = driver.switch_to.alert
alert.accept()
time.sleep(2.0)

driver.find_element_by_css_selector('#adminId').send_keys('')
driver.find_element_by_css_selector('#adminPw').send_keys('')
btn = driver.find_element_by_css_selector('#loginForm > button')
btn.click()

chrome_options = webdriver.ChromeOptions()
profile = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)


data = []

for i, row in tqdm(df.iterrows(), total=df.shape[0]) :
    name = row['name']
    naver = row['naver']
    keyword_list = []
    true_eng_name = ''
    
    print(name)
    
    if pd.isnull(naver) :
        solr = f'(content_all:(title:"{name}" AND type:news))'
    
    elif naver == 'x' :
        solr = f'(content_all:(title:"{name}" AND type:news))'
    
    else :

        profile.get(naver)
        source = profile.page_source
        soup = BeautifulSoup(source, "lxml")
        
        # 네이버 이름
#         naver_name = soup.select('span[class="area_text_title"]')[0].text
        # 본명
        sub_title = soup.select('div[class="sub_title first_elss"]')[0].select('span[class=txt]')
        if len(sub_title) == 2:
            true_eng_name = sub_title[0].text
            
        if true_eng_name != '' :
            solr_front = f'(content_all:((title:"{name}" title:"{true_eng_name}") AND type:news '
        else :
            solr_front = f'(content_all:(title:"{name}" AND type:news'

        dt_in_info_txt = soup.select('div[class="detail_info"]')[0].select('dt')
        dd_in_info_txt = soup.select('div[class="detail_info"]')[0].select('dd')

        for row_len in range(len(dt_in_info_txt)) :
            title = dt_in_info_txt[row_len].text
            inner = dd_in_info_txt[row_len]

            # 소속사
            if title == '소속사' :
                agency = inner.text.strip()
#                 agency = agency.replace("엔터테인먼트", "")
                agency = agency.lstrip() # 앞 공백 제거
                keyword_list.append(agency)

            # 소속
            elif title == '소속' :
                belong_not_celeb = inner.text
                belong_not_celeb = belong_not_celeb.lstrip() # 앞 공백 제거
                keyword_list.append(belong_not_celeb)

            # 소속그룹
            elif '그룹' in title :
                belong_group = inner.text
                belong_group = belong_group.replace(" ", "")
                keyword_list.append(belong_group)
                
            elif title == '멤버' :
                members = str(', '.join([ttt.strip() for ttt in inner.text.strip().split(',')]))
                members = re.sub(r'\([^)]*\)', '', members)  # 괄호, 괄호 안 문자 삭제 ex. 온유(리더), 종현(메인보컬), ... 
#                 members = members.replace(' ', '')
                members = members.replace(', ', '" OR "')
                keyword_list.append(members)
                keyword_list.append('그룹')
        

    keyword_list = list(set(keyword_list))  # 중복제거


    if len(keyword_list) == 0 :
        solr = solr_front + '))'
    elif len(keyword_list) == 1 :
        solr = solr_front + ' AND"{}"))'.format(keyword_list[0])
    elif len(keyword_list) == 2 :
        solr = solr_front + ' AND("{}" OR "{}")))'.format(keyword_list[0], keyword_list[1])
    elif len(keyword_list) == 3 :
        solr = solr_front + ' AND type:news AND("{}" OR "{}" OR "{}")))'.format(keyword_list[0], keyword_list[1], keyword_list[2])
    elif len(keyword_list) == 4 :
        solr = solr_front + ' AND type:news AND("{}" OR "{}" OR "{}" OR "{}")))'.format(keyword_list[0], keyword_list[1], keyword_list[2], keyword_list[3])   
    else :
        solr = solr_front + '))'

    
    url = 'http://dev.mycelebs.com/donut/index.php/Verticalanalysis/ShowKeyword'
    driver.get(url)

    driver.find_element_by_xpath('//*[@id="query"]').clear()
    driver.find_element_by_xpath('//*[@id="query"]').send_keys(solr)
    driver.find_element_by_xpath('//*[@id="submit_btn"]').click()
    
    if (f'{name}') in overlap :
        solr_input = input(f'!! 중복인이 있습니다.')
    else :
        solr_input = input('솔라쿼리를 입력하세요.')
    if solr_input == '':
          solr_input = solr
    
    data_ = {'name':name, 'daum':'x', 'naver':naver, 'solr':solr_input}
    data.append(data_)
    
    
df = pd.DataFrame(data, columns = ['name', 'daum', 'naver', 'solr'])
df.to_excel("sample.xlsx", index = False, encoding='utf-8-sig')

driver.close()
profile.close()

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST driver version for 96.0.4664
Driver [/Users/jieun/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache


====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST driver version for 96.0.4664
Driver [/Users/jieun/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache

  0%|          | 0/10 [00:00<?, ?it/s]

포레스트
솔라쿼리를 입력하세요.(content_all:((title:"포레스트" title:"4rest") AND type:news AND type:news AND("원오원엔터테인먼트" OR "강성민" OR "김진석" OR "안성미")))
47N122W35N139E
솔라쿼리를 입력하세요.(content_all:(title:"47N122W35N139E" AND type:news))
오미리그램
솔라쿼리를 입력하세요.(content_all:((title:"오미리그램" title:"5mg") AND type:news NOT"화이자" NOT"노바스크"))
포포리나인
솔라쿼리를 입력하세요.(content_all:((title:"포포리나인" title:"4-49" -title:"%") AND type:news AND("Seha" OR "h.INKYU" OR "가수") NOT"%" NOT"상승폭"))
이상훈
솔라쿼리를 입력하세요.(content_all:((title:"이상훈" title:"4Bros" title:"포브로스") AND type:news AND("포브로스" OR "음악감독")))
컬러링 베이비 7공주
솔라쿼리를 입력하세요.(content_all:((title:"7공주" title:"칠공주") AND type:news AND("오소영" OR "황세희" OR "권고은" OR "황지우" OR "김성령" OR "소영" OR "승희" OR "김무이" OR "그룹")))
포 투 더 바
솔라쿼리를 입력하세요.(content_all:((title:"포 투 더 바" title:"4 to the Bar") AND type:news))
3 나 보사
솔라쿼리를 입력하세요.(content_all:((title:"3 나 보사" title:"3 Na Bossa") AND type:news))
써티 세컨즈 투 마스
솔라쿼리를 입력하세요.(content_all:((title:"써티 세컨즈 투 마스" title:"30 Seconds to Mars") AND type:news))
쓰리엘더블유
솔라쿼리를 입력하세요.(content_all:((title:"쓰리엘더블유" title:"3LW") AND type:news AND("킬리 윌리엄스" OR "아드리앤 베일론" OR "제시카 벤슨" OR "그룹" OR "가수")))

## 인플루언서

In [12]:
# 인플루언서
overlap = []

df = pd.read_excel("influencer.xlsx")
df.head(3)

   name real_name1  daum  naver  solr
0   더스쿱        이경하   NaN    NaN   NaN
1    오킹        오병민   NaN    NaN   NaN
2  소련여자        NaN   NaN    NaN   NaN

In [13]:
#중복 인물 확인
conn, engine = db_connection()

for i, row in df.iterrows() :
    name = row['name']
    real_name1 = row['real_name1']
    
    qry = f'''select series_id, cd_name, cd_real_name, cd_category, cd_gender, cd_solr_search, cd_height, cd_weight, cd_birth, cd_agency, cd_debut, cd_academic, cd_career, cd_award from star_ko_data
            where (cd_name ='{name}' or cd_real_name='{name}' or cd_name ='{real_name1}' or cd_real_name='{real_name1}') and cd_is_use=1'''
    result = pd.read_sql(qry, conn)
    if result.empty:
        pass
    else :
        overlap.append(name)
        print(name)
        display(result)
    
conn.close()

한별

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,281152,한별,None,배우,여자,"(content_all:(""배우 한별""~10 OR ""탤런트 한별""~10 OR ""씨그널엔터테인먼트 한별""~10))",NaN,NaN,NaT,씨그널엔터테인먼트,웹 드라마 '뱀파이어의 꽃',None,"2015년 투니버스,재능TV '출동!케이캅' 외 2건",None
1,290784,장한별,None,모델,여자,"(content_all:(""yg 장한별""~10))",177.0,NaN,NaT,YG케이플러스,None,None,None,None
2,6499762,한별,안한별,가수,여자,"(content_all:(""드림노트 한별""))",164.0,44.0,2003-10-13,iMe KOREA,2018년 드림노트 싱글 앨범 [Dreamlike],None,그룹 '드림노트' 멤버,None
3,16463965,장한별,장한별,가수,남자,"(content_all:(title :""장한별""AND""기자""AND(""가수""AND""레드애플"")))",185.0,65.0,1990-07-04,빅오션ENM,2011년 레드애플 싱글 앨범 [CODA],퀸즐랜드 대학교,그룹 '레드애플' 멤버,None
4,19421162,한별,경한별,가수,여자,"(content_all:(title:""한별"" AND type:news AND(""프레셔스"" OR ""유엠아이엔터테인먼트"")))",0.0,0.0,2005-07-01,유엠아이엔터테인먼트,2020년 프레셔스 싱글 앨범 'IT's Me',None,그룹 '프레셔스' 멤버,None

헤이즐

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,2723844,헤이즐,None,방송인,여자,"(content_all: (title : ""헤이즐"" )AND ""기자"" AND ""유튜버"")",None,None,0000-00-00 00:00:00,DIA TV,None,None,None,None

에바

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,19932010,김지민,김혜원,"연극배우,뮤지컬배우",여자,"(content_all:(title:""김지민"" AND type:news AND(""블랙아웃"" OR ""영웅을 기다리며"" OR ""지구멸망"" OR ""정글라이프"" OR ""오늘 처음 만드는 뮤지컬"" OR ""줄리 앤 폴"" OR ""장수상회"" OR ""올모스트 메인"")))",165,50,1982-12-18,None,None,서울디지털대학교 문예창작학과 학사,가온다 실용음악학원 부원장,None

빠니보틀

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,13455500,한경일,박재한,가수,남자,"(content_all:(title:""한경일"" AND ""기자"" AND ""가수 한경일""~5 NOT ""한경닷컴"" NOT ""슈퍼주니어"" NOT ""독자"" NOT ""한국경제""))",177,65,1980-03-19,None,2002년 1집 앨범 [한경일 No.1],경기대학교 졸업,None,None
1,19341217,박재한,박재한,영화배우,남자,"(content_all:(title:""박재한"" AND type:news AND""배우""))",180,67,1983-11-09,None,2013년 영화 '노브레싱',세종대학교 영화예술학과 학사,None,None

희철리즘

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,19065444,윤희철,윤영희,"연극배우,영화배우",남자,"(content_all:(title:""윤희철"" AND type:news AND ""배우""))",170,96,1961-06-19,DJ엔터테인먼트,None,None,None,None

앵글러쩡

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,1458,박희정,,방송인,여자,"(content_all:(title: (""박희정"" AND (""아나운서"" OR ""방송인"" OR ""MC""))))",NaN,NaN,1977-08-02,,,한국외국어대학교 통번역대학원 외 2건,,
1,19655853,박희정,박희정,영화배우,여자,"(content_all:(title:""박희정"" AND type:news AND""배우""))",163.0,48.0,1988-10-20,None,2011년 영화 '써니',단국대학교 연극영화과 학사,None,None

깨박이

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,8815040,이호연,이호연,모델,남자,"(content_all:(title: ""이호연"") AND type:news NOT ""아역"" AND (""드라마""~5 OR ""모델""~5))",185,NaN,1991-03-30,에스팀엔터테인먼트,None,None,"잡지 그라치아, 아레나, 보그, 무신사 모델",None
1,19359457,이호연,이호연,영화배우,남자,"(content_all:(title:""이호연"" AND type:news AND""배우"" NOT""키즈"" NOT""바텐더"" NOT""에스팀"" NOT""마성의""))",180,73.0,1983-03-01,None,2009년 영화 '주유소 습격사건 2',동아방송대학 연극영화과,None,None

로즈하

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,2026,하지은,,방송인,여자,"(content_all:(""방송인 하지은""~10 OR ""아나운서 하지은""~10))",NaN,NaN,1972-06-10,,1994년 MBC 아나운서 입사,와세다 대학교 대학원 국제관계학 석사,,
1,19034836,하지은,하지은,"연극배우,영화배우",여자,"(content_all:(title:""하지은"" AND type:news AND ""배우"" NOT ""아나운서""))",164.0,49.0,1983-07-12,None,None,동국대학교 대학원 연극학 석사,None,신춘문예 단막극제 우수연기상

In [14]:
chrome_options = webdriver.ChromeOptions()
profile = webdriver.Chrome(ChromeDriverManager().install(), options=webdriver.ChromeOptions())

profile_naver = []

for i, row in tqdm(df.iterrows(), total=df.shape[0]):
    name = row['name']
    real_name1 = row['real_name1']
    
    print(name)
    
    profile.get(f'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query={name}')
    profile_url = input('url을 입력하세요')
    
    if profile_url == '' and not(pd.isnull(real_name1)) :

        profile.get(f'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query={real_name1}')        
        profile_url = input('url을 입력하세요')
            
    if profile_url == '' :
        profile_url = 'x'
        
    profile_naver.append({'name':name, 'daum':'x', 'naver':profile_url, 'solr':''})       

profile_df = pd.DataFrame(profile_naver)
profile_df.to_excel('influencer_after.xlsx', index=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/jieun/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

  0%|          | 0/16 [00:00<?, ?it/s]

더스쿱
url을 입력하세요https://search.naver.com/search.naver?where=nexearch&sm=tab_etc&mra=bjky&x_csa=%7B%22fromUi%22%3A%22kb%22%7D&pkid=1&os=9704574&qvt=0&query=%EB%8D%94%EC%8A%A4%EC%BF%B1
오킹
url을 입력하세요https://search.naver.com/search.naver?where=nexearch&sm=tab_etc&mra=bjky&x_csa=%7B%22fromUi%22%3A%22kb%22%7D&pkid=1&os=16672686&qvt=0&query=%EC%98%A4%ED%82%B9
소련여자
url을 입력하세요
빅마블
url을 입력하세요https://search.naver.com/search.naver?where=nexearch&sm=tab_etc&mra=bjky&x_csa=%7B%22fromUi%22%3A%22kb%22%7D&pkid=1&os=589159&qvt=0&query=%EB%B9%85%EB%A7%88%EB%B8%94
한별
url을 입력하세요
url을 입력하세요
남순
url을 입력하세요https://search.naver.com/search.naver?where=nexearch&sm=tab_etc&mra=bjky&x_csa=%7B%22fromUi%22%3A%22kb%22%7D&pkid=1&os=11823206&qvt=0&query=%EB%82%A8%EC%88%9C
헤이즐
url을 입력하세요https://search.naver.com/search.naver?where=nexearch&sm=tab_etc&mra=bjky&x_csa=%7B%22fromUi%22%3A%22kb%22%7D&pkid=1&os=17379401&qvt=0&query=%ED%97%A4%EC%9D%B4%EC%A6%90
에바
url을 입력하세요https://search.naver.com/search.naver?where=nexearch&sm=tab_etc&mra=bjky&pkid=1&os=14409219&qvt=0&query=%EC%97%90%EB%B0%94
리나대장님
url을 입력하세요https://search.naver.com/search.naver?where=nexearch&sm=tab_etc&mra=bjky&x_csa=%7B%22fromUi%22%3A%22kb%22%7D&pkid=1&os=17961692&qvt=0&query=%EB%A6%AC%EB%82%98%EB%8C%80%EC%9E%A5%EB%8B%98
빠니보틀
url을 입력하세요
url을 입력하세요
희철리즘
url을 입력하세요
url을 입력하세요
앵글러쩡
url을 입력하세요
url을 입력하세요
꿀꿀선아
url을 입력하세요
url을 입력하세요
미니유
url을 입력하세요
url을 입력하세요
깨박이
url을 입력하세요
url을 입력하세요
로즈하
url을 입력하세요
url을 입력하세요

In [15]:
df = pd.read_excel("influencer_after.xlsx")

chrome_options = webdriver.ChromeOptions()
driver = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)

pid =
ppw = 
driver.get(f'http://{pid}:{ppw}@dev.mycelebs.com/donut/')
alert = driver.switch_to.alert
alert.accept()
time.sleep(2.0)

driver.find_element_by_css_selector('#adminId').send_keys('')
driver.find_element_by_css_selector('#adminPw').send_keys('')
btn = driver.find_element_by_css_selector('#loginForm > button')
btn.click()


data = []

for i, row in tqdm(df.iterrows(), total=df.shape[0]) :
    name = row['name']
    naver = row['naver']
    keyword_list = []
    
    print(name)
    
    if naver != 'x' :
        profile.get(naver)
    
    solr = f'(content_all:(title:"{name}" AND type:news AND("유튜브" OR "유튜버" OR "인플루언서" OR "크리에이터")))'

        
    url = 'http://dev.mycelebs.com/donut/index.php/Verticalanalysis/ShowKeyword'
    driver.get(url)

    driver.find_element_by_xpath('//*[@id="query"]').clear()
    driver.find_element_by_xpath('//*[@id="query"]').send_keys(solr)
    driver.find_element_by_xpath('//*[@id="submit_btn"]').click()
    
    solr_input = input('솔라쿼리를 입력하세요.')
    if solr_input == '':
          solr_input = solr
    
    data_ = {'name':name, 'daum':'x', 'naver':naver, 'solr':solr_input}
    data.append(data_)
    
    
df = pd.DataFrame(data)
df.to_excel('influencer_after.xlsx', index= False, encoding='utf-8-sig')

driver.close()
profile.close()

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/jieun/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

  0%|          | 0/16 [00:00<?, ?it/s]

더스쿱
솔라쿼리를 입력하세요.
오킹
솔라쿼리를 입력하세요.(content_all:(title:"오킹" AND type:news AND("유튜브" OR "유튜버" OR "인플루언서" OR "크리에이터" OR "샌드박스")))
소련여자
솔라쿼리를 입력하세요.
빅마블
솔라쿼리를 입력하세요.
한별
솔라쿼리를 입력하세요.(content_all:(title:"한별" AND type:news AND("패션" OR "뷰티") AND("유튜브" OR "유튜버" OR "인플루언서" OR "크리에이터")))
남순
솔라쿼리를 입력하세요.
헤이즐
솔라쿼리를 입력하세요.
에바
솔라쿼리를 입력하세요.(content_all:(title:"에바" AND type:news AND("뷰티" OR "레페리" OR "WNC") AND("유튜브" OR "유튜버" OR "인플루언서" OR "크리에이터") NOT"방송인"))
리나대장님
솔라쿼리를 입력하세요.(content_all:((title:"리나대장님" title:"엘리나") AND type:news AND("유튜브" OR "유튜버" OR "인플루언서" OR "크리에이터")))
빠니보틀
솔라쿼리를 입력하세요.
희철리즘
솔라쿼리를 입력하세요.
앵글러쩡
솔라쿼리를 입력하세요.
꿀꿀선아
솔라쿼리를 입력하세요.
미니유
솔라쿼리를 입력하세요.
깨박이
솔라쿼리를 입력하세요.
로즈하
솔라쿼리를 입력하세요.

## 버추얼스타

In [30]:
# 버추얼스타
overlap = []

df = pd.read_excel("virtual.xlsx")
df.head(3)

  name  real_name1  daum  naver  solr
0  정세진         NaN   NaN    NaN   NaN
1   수아         NaN   NaN    NaN   NaN
2  오사랑         NaN   NaN    NaN   NaN

In [31]:
#중복 인물 확인
conn, engine = db_connection()

for i, row in df.iterrows() :
    name = row['name']
    real_name1 = row['real_name1']
    
    qry = f'''select series_id, cd_name, cd_real_name, cd_category, cd_gender, cd_solr_search, cd_height, cd_weight, cd_birth, cd_agency, cd_debut, cd_academic, cd_career, cd_award from star_ko_data
            where (cd_name ='{name}' or cd_real_name='{name}' or cd_name ='{real_name1}' or cd_real_name='{real_name1}') and cd_is_use=1'''
    result = pd.read_sql(qry, conn)
    if result.empty:
        pass
    else :
        overlap.append(name)
        print(name)
        display(result)
    
conn.close()

정세진

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,1865,정세진,,방송인,여자,"(content_all:(title:""정세진"" AND type:news AND (""정세진 아나운서""~10 OR ""정세진 앵커""~10)))",162,46,1973-06-25,,1997년 KBS 24기 공채 아나운서,성균관대학교 행정대학원 경영학과 외 1건,,

수아

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,2511,수아,문수아,가수,여자,"(content_all:(title:""수아"" AND ""기자"" AND (""언프리티 랩스타"" OR ""래퍼"" OR ""문수아"")))",NaN,NaN,1999-09-09,,2015년 언프리티랩스타 시즌2,None,None,None
1,2773,수아,None,가수,여자,"(content_all:(title:""수아"" AND type:news AND(""드림캐쳐"" OR ""드림캐처"")))",162.0,NaN,1994-08-10,드림캐쳐컴퍼니,2014,,None,None
2,2875,수아,유수아,가수,여자,"(content_all:((title:""수아"" title:""유수아"" title:""리재"") AND type:news AND(""씨앗"" OR ""크레이지 엔터테인먼트"" OR ""MJ"" OR ""프로듀스"") NOT""랩스타"" NOT""비비추"" NOT""미스틱"" NOT""휴먼"" NOT""해스태그"" NOT""슈퍼맨""))",161.0,43.0,NaT,크레이지 엔터테인먼트,,,,
3,2942,수아,,가수,여자,"(content_all:(title:""수아"" AND type:news AND ""플래쉬""))",167.0,NaN,1992-01-01,,"2013년 플래쉬 싱글 앨범 [Oh, Ye, Yo]",,,
4,17539448,수아,최수아/SUA,가수,여자,"(content_all:(title:""수아"" AND type:news AND(""픽시"" OR ""올라트엔터"" OR ""해피트라이브엔터"")))",0.0,0.0,2003-02-24,올라트엔터테인먼트,2021년 PIXY 싱글 앨범 'With My Wings',None,그룹 '픽시' 멤버,None
5,19310368,수아,양수아,가수,여자,"(content_all:(title:""수아"" AND type:news AND ""해시태그"" AND ""럭 팩토리""))",0.0,0.0,1995-03-24,럭 팩토리,2017년 해시태그 EP 앨범 'Hashtag 1st Mini album `The girl next door`',None,2017.10 그룹 '해시태그' 멤버,None

이예진

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,19452028,이예진,이예진,영화배우,여자,"(content_all:(title:""이예진"" AND type:news AND""배우"" NOT""아델""))",0,0,0000-00-00 00:00:00,None,None,None,None,None

지우

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,478731,지우,최지우,배우,여자,"(content_all:(""사람엔터테인먼트 지우""~10))",NaN,NaN,None,스타쉽엔터테인먼트(킹콩 by 스타쉽),2010년 영화 '이층의 악당',None,None,None
1,16889610,지우,Hayake,가수,남자,"(content_all:(title:""jiwoo""AND""기자""AND""가수""))",NaN,NaN,1997-11-05 00:00:00,WAVY,2019년 EP 앨범 [Maison],None,None,None
2,19278174,지우,박희준/Ziu,가수,남자,"(content_all:(title:""지우"" AND type:news AND( ""VAV"" OR ""A TEAM 엔터테인먼트"")))",186.0,74.0,1997-06-16 00:00:00,A team,2017년 VAV 디지털 싱글 앨범 [VENUS],None,2017.2 그룹 'VAV' 멤버,None
3,19310363,지우,지우,가수,여자,"(content_all:(title:""지우"" AND type:news AND(""블라블라"" OR ""Blah Blah"" OR ""FAB엔터테인먼트"")))",165.0,0.0,1994-03-16 00:00:00,FAB 엔터테인먼트,2017년 블라블라 싱글 앨범 '참 잘했어요',국민대학교 한국무용,그룹 '블라블라' 멤버,None
4,19344347,지우,지우,영화배우,여자,"(content_all:(title:""지우"" AND type:news AND(""단역배우"")))",0.0,0.0,0000-00-00 00:00:00,None,None,None,None,None
5,19436915,지우,정용태,가수,남자,"(content_all:(title:""지우"" AND type:news AND""에메랄드 캐슬"" OR ""PA 엔터테인먼트""))",0.0,0.0,1970-05-18 00:00:00,PA 엔터테인먼트,1997년 에메랄드 캐슬 정규 앨범 'Invitation',단국대학교 대학원 대중문화제작 경영학 석사,호서대학교 겸임교수,MBC 대학가요제 금상
6,19656505,지우,JIWOO,가수,여자,"(content_all:(title:""지우"" AND type:news AND(""파시걸스"" OR ""넘버원미디어"")))",163.0,45.0,2002-12-07 00:00:00,넘버원미디어,None,None,None,None

김혜진

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,18031744,김혜진,김혜진,가수,여자,"(content_all:(title:""김혜진"" AND type:news AND(""가수 김혜진""~5 OR ""KDH"" OR ""케이디에이치"" OR ""트롯"" OR ""트로트"")))",0,0,1996-09-02 00:00:00,KDH엔터테인먼트,2020년 싱글 앨범 [꽃을 찾아온 당신],None,None,None
1,18792668,김혜진,김혜진,배우,여자,"(content_all:""김혜진"" AND type:news AND (""배우"") NOT(""아이돌"" OR ""책"" OR ""미스코리아"" OR ""구투운동"") )",170,48,0000-00-00 00:00:00,생각을보여주는 엔터테인먼트,2004년 영화 '썸',홍익대학교 제품디자인 학사,연예인 히말라야 아일랜드 피크 원정대 대원,한국모델협회 CF모델상

In [32]:
chrome_options = webdriver.ChromeOptions()
profile = webdriver.Chrome(ChromeDriverManager().install(), options=webdriver.ChromeOptions())

profile_naver = []

for i, row in tqdm(df.iterrows(), total=df.shape[0]):
    name = row['name']
    real_name1 = row['real_name1']
    
    print(name)
    
    profile.get(f'https://search.naver.com/search.naver?where=m&sm=mtb_etc&mra=bjky&pkid=1&qvt=0&query={name}')
    profile_url = input('url을 입력하세요')
    
    if profile_url == '' and not(pd.isnull(real_name1)) :

        profile.get(f'https://search.naver.com/search.naver?where=m&sm=mtb_etc&mra=bjky&pkid=1&qvt=0&query={real_name1}')        
        profile_url = input('url을 입력하세요')
        
            
    if profile_url == '' :
        profile_url = 'x'
        
    profile_naver.append({'name':name, 'daum':'x', 'naver':profile_url, 'solr':''})       

profile_df = pd.DataFrame(profile_naver)
profile_df.to_excel('virtual_after.xlsx', index=False)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [/Users/jieun/.wdm/drivers/chromedriver/mac64/94.0.4606.61/chromedriver] found in cache

  0%|          | 0/13 [00:00<?, ?it/s]

정세진
url을 입력하세요
수아
url을 입력하세요
오사랑
url을 입력하세요
채여름
url을 입력하세요
이예진
url을 입력하세요
정다인
url을 입력하세요
함초롱
url을 입력하세요
지우
url을 입력하세요
표수진
url을 입력하세요
류서아
url을 입력하세요
하민지
url을 입력하세요
곽재인
url을 입력하세요
김혜진
url을 입력하세요

In [33]:
df = pd.read_excel("virtual_after.xlsx")

chrome_options = webdriver.ChromeOptions()
driver = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)

pid = 
ppw = 
driver.get(f'http://{pid}:{ppw}@dev.mycelebs.com/donut/')
alert = driver.switch_to.alert
alert.accept()
time.sleep(2.0)

driver.find_element_by_css_selector('#adminId').send_keys('')
driver.find_element_by_css_selector('#adminPw').send_keys('')
btn = driver.find_element_by_css_selector('#loginForm > button')
btn.click()


data = []

for i, row in tqdm(df.iterrows(), total=df.shape[0]) :
    name = row['name']
    naver = row['naver']
    keyword_list = []
    
    print(name)
    
    if naver != 'x' :
        profile.get(naver)
    
    solr = f'(content_all:(title:"{name}" AND type:news AND("가상" OR "버추얼" OR "버츄얼" OR "디지털" OR "ai")))'

        
    url = 'http://dev.mycelebs.com/donut/index.php/Verticalanalysis/ShowKeyword'
    driver.get(url)

    driver.find_element_by_xpath('//*[@id="query"]').clear()
    driver.find_element_by_xpath('//*[@id="query"]').send_keys(solr)
    driver.find_element_by_xpath('//*[@id="submit_btn"]').click()
    
    solr_input = input('솔라쿼리를 입력하세요.')
    if solr_input == '':
          solr_input = solr
    
    data_ = {'name':name, 'daum':'x', 'naver':naver, 'solr':solr_input}
    data.append(data_)
    
    
df = pd.DataFrame(data)
df.to_excel('virtual_after.xlsx', index= False, encoding='utf-8-sig')

driver.close()
profile.close()

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [/Users/jieun/.wdm/drivers/chromedriver/mac64/94.0.4606.61/chromedriver] found in cache

  0%|          | 0/13 [00:00<?, ?it/s]

정세진
솔라쿼리를 입력하세요.(content_all:(title:"정세진" AND type:news AND("가상" OR "버추얼" OR "버츄얼" OR "디지털" OR "ai" OR "딥스튜디오" OR "YOURS")))
수아
솔라쿼리를 입력하세요.(content_all:(title:"수아" AND type:news AND("가상" OR "버추얼" OR "버츄얼" OR "디지털" OR "ai" OR "온마인드")))
오사랑
솔라쿼리를 입력하세요.(content_all:(title:"오사랑" AND type:news AND"이터니티" AND("가상" OR "버추얼" OR "버츄얼" OR "디지털" OR "ai")))
채여름
솔라쿼리를 입력하세요.(content_all:(title:"채여름" AND type:news AND"이터니티" AND("가상" OR "버추얼" OR "버츄얼" OR "디지털" OR "ai")))
이예진
솔라쿼리를 입력하세요.(content_all:(title:"이예진" AND type:news AND"이터니티" AND("가상" OR "버추얼" OR "버츄얼" OR "디지털" OR "ai")))
정다인
솔라쿼리를 입력하세요.(content_all:(title:"정다인" AND type:news AND"이터니티" AND("가상" OR "버추얼" OR "버츄얼" OR "디지털" OR "ai")))
함초롱
솔라쿼리를 입력하세요.(content_all:(title:"함초롱" AND type:news AND"이터니티" AND("가상" OR "버추얼" OR "버츄얼" OR "디지털" OR "ai")))
지우
솔라쿼리를 입력하세요.(content_all:(title:"지우" AND type:news AND"이터니티" AND("가상" OR "버추얼" OR "버츄얼" OR "디지털" OR "ai")))
표수진
솔라쿼리를 입력하세요.(content_all:(title:"표수진" AND type:news AND"이터니티" AND("가상" OR "버추얼" OR "버츄얼" OR "디지털" OR "ai")))
류서아
솔라쿼리를 입력하세요.(content_all:(title:"류서아" AND type:news AND"이터니티" AND("가상" OR "버추얼" OR "버츄얼" OR "디지털" OR "ai")))
하민지
솔라쿼리를 입력하세요.(content_all:(title:"하민지" AND type:news AND"이터니티" AND("가상" OR "버추얼" OR "버츄얼" OR "디지털" OR "ai")))
곽재인
솔라쿼리를 입력하세요.(content_all:(title:"곽재인" AND type:news AND"이터니티" AND("가상" OR "버추얼" OR "버츄얼" OR "디지털" OR "ai")))
김혜진
솔라쿼리를 입력하세요.(content_all:(title:"김혜진" AND type:news AND"이터니티" AND("가상" OR "버추얼" OR "버츄얼" OR "디지털" OR "ai")))