In [54]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re
import datetime
from difflib import SequenceMatcher
import pymysql
from sqlalchemy import create_engine
from tqdm import tqdm
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from tqdm import tqdm

In [55]:
def db_connection(host_name='ds'):
    host_url = "db.ds.mycelebs.com"
    user_nm = "j_eungg"
    passwd = "mycelebs"
    port_num = 3306
    db_name = "star_ko"
    conn = pymysql.connect(host=host_url, user=user_nm, passwd=passwd, port = port_num, charset='utf8',
                           db=db_name, cursorclass=pymysql.cursors.DictCursor)
    # cursorclass=pymysql.cursors.DictCursor 추가 -> 데이터프레임으로 다루기 쉽게 딕셔너리 형태로 결과 반환해줌, cursor는 튜플형태
    # db=db,
    engine = create_engine(f'mysql+pymysql://{user_nm}:{passwd}@{host_url}:{port_num}/{db_name}?charset=utf8mb4')
    return conn, engine

In [56]:
conn, engine = db_connection()

In [57]:
qry = 'SELECT * FROM star_ko_profile_url WHERE naver_url is NULL'
data = pd.read_sql(qry, conn)

In [58]:
data.head()

,skpu_pk,series_id,name,daum_url,naver_url,regist_date,update_date
0,1,1,2AM,None,None,2021-03-26 05:00:00,2021-08-17 04:32:40
1,2,2,2NE1,None,None,2021-03-26 05:00:00,2021-08-17 04:32:42
2,3,3,2PM,None,None,2021-03-26 05:00:00,2021-08-17 04:32:44
3,4,4,AOA,None,None,2021-03-26 05:00:00,2021-08-17 04:32:46
4,5,5,B.A.P,None,None,2021-03-26 05:00:00,2021-08-17 04:32:48

In [59]:
len(data)

8599

In [60]:
data_list = data['series_id'].to_list()

In [61]:
number = int(input("네이버 url 수집할 개체 수 입력 :"))
ex = data_list[0:number]

mapping = []

chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
naver_drv = webdriver.Chrome(ChromeDriverManager().install(), options = chrome_options)

for i in tqdm(ex) :
    conn, engine = db_connection()
    cursor = conn.cursor(pymysql.cursors.DictCursor)
    
    qry = f'SELECT series_id, cd_name, cd_real_name, cd_gender, cd_category, cd_solr_search, cd_height, cd_weight, cd_birth, cd_agency, cd_belong, cd_team, cd_group, cd_debut, cd_academic, cd_career, cd_award FROM star_ko_data WHERE series_id={i} and cd_is_use=1'
    celebData = pd.read_sql(qry, con=conn)
    celebData = celebData.fillna('')
    
    try : 
        series_id = celebData['series_id'][0]
    except :
        print("[INFO] ", i, " row를 삭제합니다.")
        delete_qry = f'DELETE FROM star_ko_profile_url WHERE series_id={i};'
        cursor.execute(delete_qry)
        conn.commit()
    
    try :
        cd_name = celebData['cd_name'][0]
        cd_gender = celebData['cd_gender'][0]
        cd_category = celebData['cd_category'][0]
        cd_birth = celebData['cd_birth'][0]
        if cd_birth == '0000-00-00 00:00:00':
            cd_birth_ = ''
        elif cd_birth == '':
            cd_birth_ = ''
        else:
            cd_birth_ = cd_birth.strftime('%Y-%m-%d')
        cd_agency = celebData['cd_agency'][0]
        cd_belong = celebData['cd_belong'][0]
        cd_team = celebData['cd_team'][0]
        cd_group = celebData['cd_group'][0]
        cd_debut = celebData['cd_debut'][0]
        cd_debut = re.sub("\!|\'|\?", "", str(cd_debut))  # 특수문자 제거
        cd_height = celebData['cd_height'][0]
        cd_weight = celebData['cd_weight'][0]
        cd_career = celebData['cd_career'][0]
        cd_academic = celebData['cd_academic'][0]
        cd_award = celebData['cd_award'][0]
        
        display(celebData)
       
        
        naver_drv.get('https://people.search.naver.com/')
        naver_drv.find_element_by_id('nx_query').send_keys(cd_name)
        naver_drv.find_element_by_class_name('btn_window').click()
        
        naver_source = naver_drv.page_source
        naver_soup = BeautifulSoup(naver_source, "html.parser")
        
        result_footer = naver_soup.select('div[class=result_footer]')
        pages = result_footer[0].text
        pages = re.sub(r'[^0-9]', '', pages)
        
        
        for page in range(len(pages)) :
            
            people_url = []
            people = naver_soup.find_all('div', {'class': 'who'})

            # 한 페이지 내 인물 리스트 수집
            for p in range(len(people)):
                naver_base = 'https://people.search.naver.com/search.naver'
                people_url_ = naver_base + people[p].select('a')[0].get('href')
                people_url.append(people_url_)

            # 크롤링
            for pu in people_url :
                birth = year = month = day = agency = belong_not_celeb = belong_sport_team = belong_group = height = weight = debut = career = academic = awards = ''

                naver_html = requests.get(pu).text
                naver_soup2 = BeautifulSoup(naver_html, 'html.parser')

                profile_dsc = naver_soup2.select('div[class=profile_dsc]')
                
                dt_in_profile_dsc_dsc = profile_dsc[0].select('dl[class=dsc]')[0].select('dt')
                dd_in_profile_dsc_dsc = profile_dsc[0].select('dl[class=dsc]')[0].select('dd')

                for row_len in range(len(dt_in_profile_dsc_dsc)):

                    title = dt_in_profile_dsc_dsc[row_len].text
                    inner = dd_in_profile_dsc_dsc[row_len]

                    if '출생' in title:
                        if ',' in inner.text:
                            tmp_birth, tmp_born_place = inner.text.split(',')[0].split(), inner.text.split(',')[1]
                        else:
                            tmp_birth = inner.text.split()
                        for t in tmp_birth:
                            if '년' in t:
                                year = re.sub("\D", "", t)
                            elif '월' in t:
                                month = re.sub("\D", "", t)
                            elif '일' in t:
                                day = re.sub("\D", "", t)
                        if year != '' and month != '' and day != '':
                            birth = "{0}-{1}-{2}".format(year.zfill(4), month.zfill(2), day.zfill(2))

                        if birth != '' and '00' in birth[5:]:
                            birth = ''

                    elif title == '소속사':
                        agency = inner.text.strip()

                    elif title == '소속' :
                        belong_not_celeb = inner.text

                    elif title == '소속팀' :
                        belong_sport_team = inner.text

                    elif '그룹' in title:
                        belong_group = inner.text

                    elif '신체' in title:
                        tmp_body = inner.text.split(',')
                        for it_tmp_body in tmp_body:
                            if 'cm' in it_tmp_body:
                                if height == '':
                                    height = re.sub("\D", "", it_tmp_body)
                            elif 'kg' in it_tmp_body:
                                if weight == '':
                                    weight = re.sub("\D", "", it_tmp_body)

                    elif '데뷔' in title:
                        debut = inner.text.strip()

                h3_in_profile_dsc_dsc = naver_soup2.select('div[class=record_wrap]')[0].select('h3[class=blind]')
                d1_in_profile_dsc_dsc = naver_soup2.select('div[class=record_wrap]')[0].select('dl')

                try :
                    for v in range(len(d1_in_profile_dsc_dsc)):
                        title = h3_in_profile_dsc_dsc[v].text
                        inner = d1_in_profile_dsc_dsc[v].select('p')

                        if '경력' in title:
                            career = inner[0].text

                        elif '학력' in title:
                            academic = inner[0].text

                        elif '수상' in title:
                            awards = inner[0].text
                except :
                    pass

#                 print("\n")
#                 print("---------- 네이버 데이터 ----------")
#                 print("이름: ", cd_name, "| 직업: ", job, "| 생일: ", birth, "| 소속사: ", agency, "| 소속: ", belong_not_celeb,
#                       "| 소속팀: ", belong_sport_team, "| 그룹: ", belong_group, "| 데뷔:", debut, "| 키: ", height, "| 몸무게:", weight)
                
                # 생일 -> 데이터가 없으면
                if cd_birth_ == '' or birth == '' :

                    # 소속사 -> 데이터 없거나 다르면
                    if cd_agency == '' or agency == '' or cd_agency != agency :

                        # 소속 -> 데이터 없거나 다르면
                        if cd_belong == '' or belong_not_celeb == '' or cd_belong != belong_not_celeb :

                            # 소속팀 -> 데이터 없거나 다르면
                            if cd_team == '' or belong_sport_team == '' or cd_team != belong_sport_team :

                                # 그룹 -> 데이터 없거나 다르면
                                if cd_group == '' or belong_group == '' or cd_group != belong_group :

                                    # 데뷔 -> 데이터 없으면
                                    ratio = SequenceMatcher(None, debut, cd_debut).ratio()
                                    if cd_debut == '' or debut == '':

                                        # 경력사항 -> 데이터 없으면
                                        if cd_career == '' or career == '':

                                            # 학력 -> 데이터 없으면
                                            if cd_academic == '' or academic == '':

                                                # 수상내역 -> 데이터 없으면
                                                if cd_award == '' or awards == '':

                                                    # 키 & 몸무게 -> 데이터 없으면
                                                    if cd_height == '' and cd_weight == '':
                                                        pass
                                                        
                                                    elif height == '' and weight == '':
                                                        pass
                                                        
                                                    elif height == '' or cd_height == '' or weight == '' or cd_weight == '':
                                                        pass
                                                        
                                                    # 키 & 몸무게 -> 데이터 있으면
                                                    elif height != '' and cd_height != '' and weight != '' and cd_weight != '':
                                                        if abs(float(height) - float(cd_height)) <= 2 and abs(float(weight) - float(cd_weight)) <= 2:
                                                            
                                                            print("이름: ", cd_name, "| 생일: ", birth, "| 소속사: ", agency, "| 소속: ", belong_not_celeb,
                                                                  "| 소속팀: ", belong_sport_team, "| 그룹: ", belong_group, "| 데뷔:", debut, "| 키: ", height, "| 몸무게:", weight)
                                
                                                            print("[INFO] 키 & 몸무게 -> 매핑 성공!")
                                                            mapping_data = {'series_id' : series_id, 'naver_url' : pu}
                                                            mapping.append(mapping_data)
                                                            
                                                            update_qry = f'UPDATE star_ko_profile_url SET naver_url=\'{pu}\', update_date=NOW() WHERE series_id={series_id};'
                                                            cursor.execute(update_qry)
                                                            conn.commit()
                                                            
                                                            raise NotImplementedError
                                                            
                                                        else :
#                                                             update_qry = f'UPDATE star_ko_profile_url SET naver_url=\'0\', update_date=NOW() WHERE series_id={series_id};'
#                                                             cursor.execute(update_qry)
#                                                             conn.commit()
                                                            pass

                                                # 수상내역 -> 데이터 있으면
                                                else :
                                                    for s in cd_award.split('|'):
                                                        awards_ratio = SequenceMatcher(None, s, awards).ratio()
                                                        # 수상내역 -> 데이터 70% 이상 비슷하면
                                                        if awards_ratio >= 0.7:
                                                            
                                                            print("이름: ", cd_name, "| 생일: ", birth, "| 소속사: ", agency, "| 소속: ", belong_not_celeb,
                                                                  "| 소속팀: ", belong_sport_team, "| 그룹: ", belong_group, "| 데뷔:", debut, "| 키: ", height, "| 몸무게:", weight)
                                
                                                            print("[INFO] 수상내역 -> 매핑 성공!")
                                                            mapping_data = {'series_id' : series_id, 'naver_url' : pu}
                                                            mapping.append(mapping_data)
                                                            
                                                            update_qry = f'UPDATE star_ko_profile_url SET naver_url=\'{pu}\', update_date=NOW() WHERE series_id={series_id};'
                                                            cursor.execute(update_qry)
                                                            conn.commit()
                                                            
                                                            raise NotImplementedError
                                                        # 수상내역 -> 데이터 70% 이상 비슷하지 않으면 패스    
                                                        else :
#                                                             update_qry = f'UPDATE star_ko_profile_url SET naver_url=\'0\', update_date=NOW() WHERE series_id={series_id};'
#                                                             cursor.execute(update_qry)
#                                                             conn.commit()
                                                            pass

                                            # 학력 -> 데이터 있으면
                                            else :
                                                for s in cd_academic.split('|'):
                                                    academic_ratio = SequenceMatcher(None, s, academic).ratio()
                                                    # 학력 -> 데이터 70% 이상 비슷하면
                                                    if academic_ratio >= 0.7:
                                                        
                                                        print("이름: ", cd_name, "| 생일: ", birth, "| 소속사: ", agency, "| 소속: ", belong_not_celeb,
                                                                "| 소속팀: ", belong_sport_team, "| 그룹: ", belong_group, "| 데뷔:", debut, "| 키: ", height, "| 몸무게:", weight)

                                                        print("[INFO] 학력 -> 매핑 성공!")
                                                        mapping_data = {'series_id' : series_id, 'naver_url' : pu}
                                                        mapping.append(mapping_data)
                                                        
                                                        update_qry = f'UPDATE star_ko_profile_url SET naver_url=\'{pu}\', update_date=NOW() WHERE series_id={series_id};'
                                                        cursor.execute(update_qry)
                                                        conn.commit()
                                                        
                                                        raise NotImplementedError
                                                    # 학력 -> 데이터 70% 이상 비슷하지 않으면 패스    
                                                    else:
#                                                         update_qry = f'UPDATE star_ko_profile_url SET naver_url=\'0\', update_date=NOW() WHERE series_id={series_id};'
#                                                         cursor.execute(update_qry)
#                                                         conn.commit()
                                                        pass

                                        # 경력사항 -> 데이터 있으면
                                        else :
                                            for s in cd_career.split('|'):
                                                career_ratio = SequenceMatcher(None, s, career).ratio()
                                                # 경력사항 -> 데이터 70% 이상 비슷하면
                                                if career_ratio >= 0.7:
                                                    
                                                    print("이름: ", cd_name, "| 생일: ", birth, "| 소속사: ", agency, "| 소속: ", belong_not_celeb, "| 소속팀: ", belong_sport_team, "| 그룹: ", belong_group, "| 데뷔:", debut, "| 키: ", height, "| 몸무게:", weight)
                                
                                                    print("[INFO] 경력사항 -> 매핑 성공!")
                                                    mapping_data = {'series_id' : series_id, 'naver_url' : pu}
                                                    mapping.append(mapping_data)
                                                    
                                                    update_qry = f'UPDATE star_ko_profile_url SET naver_url=\'{pu}\', update_date=NOW() WHERE series_id={series_id};'
                                                    cursor.execute(update_qry)
                                                    conn.commit()
                                                    
                                                    raise NotImplementedError
                                                # 경력사항 -> 데이터 70% 이상 비슷하지 않으면 패스    
                                                else :
#                                                     update_qry = f'UPDATE star_ko_profile_url SET naver_url=\'0\', update_date=NOW() WHERE series_id={series_id};'
#                                                     cursor.execute(update_qry)
#                                                     conn.commit()
                                                    pass

                                    # 데뷔 -> 80% 이상 비슷하면 매핑
                                    elif ratio >= 0.8:
                                        
                                        print("이름: ", cd_name, "| 생일: ", birth, "| 소속사: ", agency, "| 소속: ", belong_not_celeb,
                                              "| 소속팀: ", belong_sport_team, "| 그룹: ", belong_group, "| 데뷔:", debut, "| 키: ", height, "| 몸무게:", weight)
                                
                                        print("[INFO] 데뷔 -> 매핑 성공!")
                                        mapping_data = {'series_id' : series_id, 'naver_url' : pu}
                                        mapping.append(mapping_data)
                                        
                                        update_qry = f'UPDATE star_ko_profile_url SET naver_url=\'{pu}\', update_date=NOW() WHERE series_id={series_id};'
                                        cursor.execute(update_qry)
                                        conn.commit()
                                        
                                        raise NotImplementedError

                                    # 데뷔 -> 80% 이상 비슷하지 않으면 패스
                                    elif ratio < 0.8:
#                                         update_qry = f'UPDATE star_ko_profile_url SET naver_url=\'0\', update_date=NOW() WHERE series_id={series_id};'
#                                         cursor.execute(update_qry)
#                                         conn.commit()
                                        pass

                                # 그룹 -> 같으면 매핑
                                elif cd_group == belong_group :
                                    
                                    print("이름: ", cd_name, "| 생일: ", birth, "| 소속사: ", agency, "| 소속: ", belong_not_celeb,
                                            "| 소속팀: ", belong_sport_team, "| 그룹: ", belong_group, "| 데뷔:", debut, "| 키: ", height, "| 몸무게:", weight)
                                
                                    print("[INFO] 그룹 -> 매핑 성공!")
                                    mapping_data = {'series_id' : series_id, 'naver_url' : pu}
                                    mapping.append(mapping_data)
                                    
                                    update_qry = f'UPDATE star_ko_profile_url SET naver_url=\'{pu}\', update_date=NOW() WHERE series_id={series_id};'
                                    cursor.execute(update_qry)
                                    conn.commit()
                                    
                                    raise NotImplementedError

                            # 소속팀 -> 같으면 매핑    
                            elif cd_team == belong_sport_team :
                                
                                print("이름: ", cd_name, "| 생일: ", birth, "| 소속사: ", agency, "| 소속: ", belong_not_celeb,
                                    "| 소속팀: ", belong_sport_team, "| 그룹: ", belong_group, "| 데뷔:", debut, "| 키: ", height, "| 몸무게:", weight)

                                print("[INFO] 소속팀 -> 매핑 성공!")
                                mapping_data = {'series_id' : series_id, 'naver_url' : pu}
                                mapping.append(mapping_data)
                                
                                update_qry = f'UPDATE star_ko_profile_url SET naver_url=\'{pu}\', update_date=NOW() WHERE series_id={series_id};'
                                cursor.execute(update_qry)
                                conn.commit()
                                
                                raise NotImplementedError

                        # 소속 -> 같으면 매핑
                        elif cd_belong == belong_not_celeb :
                            
                            print("이름: ", cd_name, "| 생일: ", birth, "| 소속사: ", agency, "| 소속: ", belong_not_celeb,
                                    "| 소속팀: ", belong_sport_team, "| 그룹: ", belong_group, "| 데뷔:", debut, "| 키: ", height, "| 몸무게:", weight)

                            print("[INFO] 소속 -> 매핑 성공!")
                            mapping_data = {'series_id' : series_id, 'naver_url' : pu}
                            mapping.append(mapping_data)
                            
                            update_qry = f'UPDATE star_ko_profile_url SET naver_url=\'{pu}\', update_date=NOW() WHERE series_id={series_id};'
                            cursor.execute(update_qry)
                            conn.commit()
                            
                            raise NotImplementedError

                    # 소속사 -> 같으면 매핑
                    elif cd_agency == agency :
                        
                        print("이름: ", cd_name, "| 생일: ", birth, "| 소속사: ", agency, "| 소속: ", belong_not_celeb,
                                "| 소속팀: ", belong_sport_team, "| 그룹: ", belong_group, "| 데뷔:", debut, "| 키: ", height, "| 몸무게:", weight)
                                
                        print("[INFO] 소속사 -> 매핑 성공!")
                        mapping_data = {'series_id' : series_id, 'naver_url' : pu}
                        mapping.append(mapping_data)
                        
                        update_qry = f'UPDATE star_ko_profile_url SET naver_url=\'{pu}\', update_date=NOW() WHERE series_id={series_id};'
                        cursor.execute(update_qry)
                        conn.commit()
                        
                        raise NotImplementedError

               # 생일 -> 같으면 매핑
                elif cd_birth_ == birth :
                    
                    print("이름: ", cd_name, "| 생일: ", birth, "| 소속사: ", agency, "| 소속: ", belong_not_celeb,
                        "| 소속팀: ", belong_sport_team, "| 그룹: ", belong_group, "| 데뷔:", debut, "| 키: ", height, "| 몸무게:", weight)          
                    
                    print("[INFO] 생일 -> 매핑 성공!")
                    mapping_data = {'series_id' : series_id, 'naver_url' : pu}
                    mapping.append(mapping_data)
                    
                    update_qry = f'UPDATE star_ko_profile_url SET naver_url=\'{pu}\', update_date=NOW() WHERE series_id={series_id};'
                    cursor.execute(update_qry)
                    conn.commit()
                    
                    raise NotImplementedError

                # 생일 -> 다르면 패스    
                elif cd_birth_ != birth :
#                     update_qry = f'UPDATE star_ko_profile_url SET naver_url=\'0\', update_date=NOW() WHERE series_id={series_id};'
#                     cursor.execute(update_qry)
#                     conn.commit()
                    pass
                
#             print("[INFO]", cd_name, "-", page, "페이지 크롤링 완료")
            try :
                naver_drv.find_element_by_class_name('next').click() # 다음 페이지
            except :
                pass # 다음 페이지 없음
            
    except Exception as e :
        print(e)
#         update_qry = f'UPDATE star_ko_profile_url SET naver_url=\'0\', update_date=NOW() WHERE series_id={series_id};'
#         cursor.execute(update_qry)
#         conn.commit()
    
conn.close()
naver_drv.close()

네이버 url 수집할 개체 수 입력 :50

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/jieun/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache
  0%|          | 0/50 [00:00<?, ?it/s]

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,1,2AM,,남자,가수,"(content_all:(title:""2am"" AND ""기자"" ))",,,,JYP엔터테인먼트,,,,2008년 싱글 앨범 '이 노래',,,

  2%|▏         | 1/50 [00:02<02:12,  2.70s/it]

이름:  2AM | 생일:   | 소속사:  JYP엔터테인먼트, 빅히트 엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2008년 싱글 앨범 [이노래] | 키:   | 몸무게:
[INFO] 데뷔 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,2,투애니원,2NE1,여자,가수,"(content_all:((title:""2ne1"" title:""투애니원"" title...",,,,YG 엔터테인먼트,,,,2009년 디지털 싱글 앨범 [Lollipop],,,제4회 가온차트 K-POP 어워드 올해의 가수상 음원부문 3월

  4%|▍         | 2/50 [00:04<01:46,  2.21s/it]

이름:  투애니원 | 생일:   | 소속사:  YG 엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2009년 디지털 싱글 앨범 [Lollipop] | 키:   | 몸무게:
[INFO] 소속사 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,3,2PM,,남자,가수,"(content_all:((title:""2pm"" title:""투피엠"") AND ty...",,,,JYP엔터테인먼트,,,,2008년 싱글 앨범 'Hottest time of the day',,,

  6%|▌         | 3/50 [00:06<01:36,  2.06s/it]

이름:  2PM | 생일:   | 소속사:  JYP엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2008년 싱글 앨범 [Hottest time of the day] | 키:   | 몸무게:
[INFO] 소속사 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,4,AOA,,여자,가수,"(content_all:((title:""aoa"" title:""에이오에이"" )AND ...",,,,FNC 엔터테인먼트,,,,2012년 싱글 앨범 'Angels' Story',,,

  8%|▊         | 4/50 [00:08<01:31,  1.98s/it]

이름:  AOA | 생일:   | 소속사:  FNC엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2012년 1집 싱글 앨범 [Angels' Story] | 키:   | 몸무게:
[INFO] 데뷔 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,5,B.A.P,,남자,가수,"(content_all:((title:""b.a.p"" title:""bap"" title...",,,,TS엔터테인먼트,,,,2012년 싱글 앨범 'WARRIOR',,,

 10%|█         | 5/50 [00:10<01:27,  1.94s/it]

이름:  B.A.P | 생일:   | 소속사:   | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2012년 싱글 앨범 [WARRIOR] | 키:   | 몸무게:
[INFO] 데뷔 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,6,B1A4,,남자,가수,"(content_all:((title:""B1A4"" title:""비원에이포"" )AND...",,,,WM엔터테인먼트,,,,2011년 EP 앨범 'Let`s Fly',,,

 12%|█▏        | 6/50 [00:11<01:22,  1.88s/it]

이름:  B1A4 | 생일:   | 소속사:  WM엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2011년 EP 앨범 [Let`s Fly] | 키:   | 몸무게:
[INFO] 소속사 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,7,EXID,이엑스아이디/EXID,여자,가수,"(content_all:((title:""EXID"" OR title:""이엑스아이디"" ...",,,,바나나컬쳐엔터테인먼트,,,,2012년 디지털 싱글 앨범 'HOLLA',,,

 14%|█▍        | 7/50 [00:13<01:20,  1.87s/it]

이름:  EXID | 생일:   | 소속사:  바나나컬쳐엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2012년 디지털 싱글 앨범 [HOLLA] | 키:   | 몸무게:
[INFO] 소속사 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,8,EXO,엑소,남자,가수,"(content_all:((title:""EXO"" title:""exo"" title:""...",,,,SM엔터테인먼트,,,,,,,2020년 제29회 하이원 서울가요대상 본상

 16%|█▌        | 8/50 [00:15<01:17,  1.85s/it]

이름:  EXO | 생일:   | 소속사:  SM엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔:  | 키:   | 몸무게:
[INFO] 소속사 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,9,EXO-K,,남자,가수,"(content_all:(""찬열 EXOK""~10 OR ""SM엔터테인먼트 EXOK""~...",,,,SM엔터테인먼트,,,,2012년 싱글 앨범 'What Is Love',,,

 18%|█▊        | 9/50 [00:17<01:16,  1.86s/it]

이름:  EXO-K | 생일:   | 소속사:  SM엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔:  | 키:   | 몸무게:
[INFO] 소속사 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,10,FT아일랜드,FTISLAND,남자,가수,"(content_all:((title:""FT아일랜드"" title:""에프티아일랜드"" ...",,,,FNC 엔터테인먼트,,,,2007년 1집 앨범 'Cheerful Sensibility',,,

 20%|██        | 10/50 [00:19<01:15,  1.88s/it]

이름:  FT아일랜드 | 생일:   | 소속사:  FNC엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2007년 1집 앨범 [Cheerful Sensibility] | 키:   | 몸무게:
[INFO] 데뷔 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,11,G.NA,최지나,여자,가수,"(content_all:((title:""G.NA"" title:""가수 지나"" )AND...",168,,1987-09-13,,,,,2010년 싱글 앨범 '애인이 생기면 하고 싶은 일',프레져 하이츠 세컨드리 스쿨,013.01 캐나다 홍보대사,2012년 제26회 골든디스크 시상식 디지털음원부문 본상

 22%|██▏       | 11/50 [00:21<01:12,  1.85s/it]

이름:  G.NA | 생일:  1987-09-13 | 소속사:   | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2010년 디지털 싱글 앨범 [애인이 생기면 하고 싶은 일] | 키:  168 | 몸무게:
[INFO] 생일 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,12,GI,,여자,가수,"(content_all:(""가수 지아이""~10 OR ""가수 GI""~10))",,,,,,,,,,,

 24%|██▍       | 12/50 [00:24<01:21,  2.16s/it]

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,13,god,god,남자,가수,"(content_all:((title:""god"" title:""지오디"" -title:...",,,,싸이더스HQ,,,,1999년 1집 앨범 'Chapter One',,,

 26%|██▌       | 13/50 [00:26<01:17,  2.10s/it]

이름:  god | 생일:   | 소속사:   | 소속:   | 소속팀:   | 그룹:   | 데뷔: 1999년 1집 앨범 [Chapter 1] | 키:   | 몸무게:
[INFO] 데뷔 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,14,GOT7,,남자,가수,"(content_all:((title:""got7"" title:""갓세븐"")AND ""기...",,,,JYP엔터테인먼트,,,,,,,

 28%|██▊       | 14/50 [00:27<01:12,  2.01s/it]

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,15,JYJ,,남자,가수,"(content_all:((title :""jyj"" title : ""제이와이제이"" t...",,,,씨제스엔터테인먼트,,,,1집 앨범 'The Beginning',,2014년 한국의료관광 홍보대사,2015년 제6회 대한민국 대중문화예술상 국무총리표창

 30%|███       | 15/50 [00:29<01:07,  1.94s/it]

이름:  JYJ | 생일:   | 소속사:  씨제스엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2010년 1집 앨범 [The Beginning] | 키:   | 몸무게:
[INFO] 소속사 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,16,LPG,Lovely Pretty Girl,여자,가수,"(content_all:(""가수 LPG"" OR ""걸그룹 LPG"" OR ""LPG 지원...",,,,케이스토리 엔터테인먼트,,,,2005년 1집 앨범 'Long Pretty Girls',,,

이름:  LPG | 생일:   | 소속사:  케이스토리엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2005년 1집 앨범 [Long Pretty Girls] | 키:   | 몸무게:
[INFO] 데뷔 -> 매핑 성공!

 32%|███▏      | 16/50 [00:31<01:05,  1.92s/it]

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,17,M4,,남자,가수,"(content_all:(""가수 M4"" OR ""M4 김원준"" OR ""M4 이세준"" ...",,,,제이제이홀릭미디어,,,,2010년 EP 앨범 'The Story of M4',,,

 34%|███▍      | 17/50 [00:33<01:01,  1.86s/it]

이름:  M4 | 생일:   | 소속사:  제이제이홀릭미디어 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2010년 싱글 앨범 [M4 첫 번째 이야기] | 키:   | 몸무게:
[INFO] 소속사 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,18,MC몽,신동현,남자,가수,"(content_all:((title:""MC몽"" title:""엠씨몽"")AND ""기자""))",180,71,1979-09-04,밀리언마켓,,,,1998년 피플크루 1집 앨범 'Hiphop Spirit Forever',,,

 36%|███▌      | 18/50 [00:35<01:03,  1.98s/it]

이름:  MC몽 | 생일:   | 소속사:  밀리언마켓 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 1998년 피플크루 힙합 댄스 비디오 1집 [Hiphop Nation] | 키:  180 | 몸무게:
[INFO] 소속사 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,19,NS윤지,김윤지,여자,가수,"(content_all:((""배우 김윤지"" OR ""ns윤지"" OR ""가수 겸 배우 ...",170,46,1988-09-06,,,,,2009년 싱글 앨범 '머리 아파',캘리포니아 대학교 로스앤젤레스캠퍼스,,

 38%|███▊      | 19/50 [00:37<00:59,  1.92s/it]

이름:  NS윤지 | 생일:   | 소속사:   | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2009년 싱글 앨범 [머리 아파] | 키:  168 | 몸무게:
[INFO] 데뷔 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,20,S.E.S,,여자,가수,"(content_all:((""가수 S.E.S"" OR ""가수 SES"" OR ""S.E....",,,,,,,,1997년 1집 앨범 'I'm your girl',,,

 40%|████      | 20/50 [00:39<00:57,  1.91s/it]

이름:  S.E.S | 생일:   | 소속사:   | 소속:   | 소속팀:   | 그룹:   | 데뷔: 1997년 1집 앨범 [I'm Your Girl] | 키:   | 몸무게:
[INFO] 데뷔 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,21,SS501,,남자,가수,"(content_all:((title: ""SS501"" OR title:""더블에스오공...",,,,디에스피미디어,,,,2005년 싱글 앨범 'SS501',,,

 42%|████▏     | 21/50 [00:40<00:54,  1.89s/it]

이름:  SS501 | 생일:   | 소속사:   | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2005년 싱글 앨범 [SS501] | 키:   | 몸무게:
[INFO] 데뷔 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,22,T.O.P,최승현/T.O.P/탑,남자,"가수,배우","(content_all:((title : ""빅뱅 탑""~10 title : ""빅뱅 최...",181,65,1987-11-04,YG엔터테인먼트,,,"빅뱅, GD&TOP",2006년 빅뱅 싱글 앨범 'Bigbang',,,

 44%|████▍     | 22/50 [00:42<00:53,  1.89s/it]

이름:  T.O.P | 생일:  1987-11-04 | 소속사:  YG엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   빅뱅, GD&TOP  | 데뷔: 2006년 빅뱅 싱글 앨범 [Bigbang] | 키:  181 | 몸무게: 65
[INFO] 생일 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,23,TOXIC,TOXIC,남자,가수,"(content_all:((title:""톡식"" title:""톡씩"" title:""TO...",,,,TNC 컴퍼니,,,,2012년 미니 앨범 'FIRST BRIDGE',,,

 46%|████▌     | 23/50 [00:44<00:52,  1.96s/it]

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,24,WINNER,위너,남자,가수,"(content_all:(title:""위너"" AND ""기자"" NOT ""얼루어""))",,,,YG엔터테인먼트,,,,2014년 1집 앨범 '2014 S/S',,,2016년 스타일아이콘어워즈 어썸 K 스타일상

 48%|████▊     | 24/50 [00:46<00:49,  1.92s/it]

이름:  WINNER | 생일:   | 소속사:  YG엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2014년 1집 앨범 [2014 S/S] | 키:   | 몸무게:
[INFO] 소속사 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,25,가애란,,여자,방송인,"(content_all:(title:""가애란"" AND ""기자""))",,,1982-10-27,,KBS,,,2008년 KBS 34기 공채 아나운서,숙명여자대학교 국어국문학과,,

 50%|█████     | 25/50 [00:48<00:49,  1.99s/it]

이름:  가애란 | 생일:   | 소속사:   | 소속:   KBS (아나운서) | 소속팀:   | 그룹:   | 데뷔: 2008년 KBS 34기 아나운서 | 키:   | 몸무게:
[INFO] 데뷔 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,26,가인,손가인,여자,가수,"(content_all:((title:""가인"" title:""손가인"") AND typ...",163,43,1987-09-20,미스틱스토리,,,브라운 아이드 걸스,2006년 브라운 아이드 걸스 1집 앨범 'Your Story',,,

 52%|█████▏    | 26/50 [00:51<00:48,  2.01s/it]

이름:  가인 | 생일:  1987-09-20 | 소속사:  미스틱스토리(에이팝엔터테인먼트) | 소속:   | 소속팀:   | 그룹:   브라운 아이드 걸스  | 데뷔: 2006년 브라운 아이드 걸스 1집 앨범 [your story] | 키:  163 | 몸무게: 43
[INFO] 생일 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,27,갈소원,,여자,배우,"(content_all:(title:""갈소원"" AND ""기자"" ))",,,2006-08-14,YG엔터테인먼트,,,,2012년 드라마 '부탁해요 캡틴',,,

 54%|█████▍    | 27/50 [00:52<00:45,  1.97s/it]

이름:  갈소원 | 생일:   | 소속사:  YG엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔:  | 키:   | 몸무게:
[INFO] 소속사 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,28,강동원,강동원/Gang DongWon,남자,"배우,모델","(content_all:(title:""강동원"" AND ""기자"" NOT""아내의 맛"" ...",186,66,1981-01-18,YG엔터테인먼트,,,,2003년 MBC 드라마 '위풍당당 그녀',상명대학교 대학원 영화전공 석사,,2010년 제30회 한국영화평론가협회상 남우연기상

 56%|█████▌    | 28/50 [00:54<00:43,  1.97s/it]

이름:  강동원 | 생일:  1981-01-18 | 소속사:  YG엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2003년 MBC 드라마 '위풍당당 그녀' | 키:  186 | 몸무게: 66
[INFO] 생일 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,29,강레오,,남자,"기업인, 요리전문가","(content_all:(title:""강레오"" AND""기자""))",,,1976-06-08,뉴타입이엔티,,,,,,반얀트리 클럽 앤 스파 서울 식음료 이사,

 58%|█████▊    | 29/50 [00:56<00:39,  1.90s/it]

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,30,강민경,,여자,가수,"(content_all:(title:""강민경"" AND type:news AND(""가...",167,50,1990-08-03,스톤뮤직엔터테인먼트,스톤뮤직엔터테인먼트,,다비치,2008년 다비치 1집 앨범 '미워도 사랑하니까',경희대학교 포스트모던음악학과 외 1건,,

 60%|██████    | 30/50 [00:58<00:38,  1.91s/it]

이름:  강민경 | 생일:  1990-08-03 | 소속사:  WAKEONE | 소속:   | 소속팀:   | 그룹:   다비치  | 데뷔: 2008년 다비치 1집 앨범 [Amaranth] | 키:  167 | 몸무게:
[INFO] 생일 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,31,강민호,,남자,운동선수,"(content_all:(title : ""강민호"" AND ""기자"" AND ""포수"" ))",186,100,1985-08-18,롯데 자이언츠 (포수),,,,2004년 '롯데 자이언츠' 입단,국제디지털대학교 경영학,2015 제1회 WBSC 프리미어 12 대한민국 국가대표 외 다수,2015 타이어뱅크 KBO 골든글러브 시상식 사랑의 골든글러브상 외 다수

 62%|██████▏   | 31/50 [01:00<00:35,  1.88s/it]

이름:  강민호 | 생일:  1985-08-18 | 소속사:   | 소속:   | 소속팀:   삼성 라이온즈 (포수) | 그룹:   | 데뷔: 2004년 롯데 자이언츠 입단 | 키:  185 | 몸무게: 100
[INFO] 생일 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,32,강병규,,남자,운동선수,"(content_all:(title :""강병규"" AND ""기자"" OR ""MC 강병규...",186,81,1972-06-30,,BU엔터테인먼트 대표,,,2000년 KBS '슈퍼TV 일요일은 즐거워',,,

 64%|██████▍   | 32/50 [01:04<00:45,  2.55s/it]

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,33,강부자,,여자,배우,"(content_all:(title:""강부자"" AND type:news))",,,1941-02-08,,,,,1962년 KBS 2기 공채 탤런트,,,

 66%|██████▌   | 33/50 [01:06<00:40,  2.39s/it]

이름:  강부자 | 생일:  1941-02-08 | 소속사:   | 소속:   | 소속팀:   | 그룹:   | 데뷔:  | 키:   | 몸무게:
[INFO] 생일 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,34,강소라,,여자,배우,"(content_all:(title: ""강소라"" AND ""기자"" OR ""배우 강소라...",168,48,1990-02-18,플럼에이앤씨,,,,2009년 영화 '4교시 추리영역',,,

 68%|██████▊   | 34/50 [01:08<00:35,  2.23s/it]

이름:  강소라 | 생일:   | 소속사:  플럼에이앤씨(스튜디오스카이) | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2009년 영화 '4교시 추리영역' | 키:   | 몸무게:
[INFO] 데뷔 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,35,강승윤,,남자,가수,"(content_all:(title :""강승윤"" AND type:news AND(...",179,58,1994-01-21,YG엔터테인먼트,,,WINNER,2011년 마이더스 OST '니가 천국이다',,,

 70%|███████   | 35/50 [01:10<00:32,  2.13s/it]

이름:  강승윤 | 생일:  1994-01-21 | 소속사:  YG엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   WINNER  | 데뷔: 2011년 드라마 마이더스 OST - '니가 천국이다' | 키:   | 몸무게:
[INFO] 생일 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,36,강예빈,강정미,여자,배우,"(content_all:(""배우 강예빈""~10 AND ""기자""))",170,49,1983-01-20,,,,,2004년 온라인게임 '통스통스' 모델,,,

 72%|███████▏  | 36/50 [01:11<00:28,  2.01s/it]

이름:  강예빈 | 생일:  1983-01-20 | 소속사:  주피터엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔:  | 키:  170 | 몸무게: 49
[INFO] 생일 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,37,강예원,김지은,여자,배우,"(content_all:((""배우 강예원""~10 OR ""제이와이드컴퍼니 강예원""~1...",165,45,1980-03-15,제이와이드컴퍼니,,,,2001년 시트콤 '허니허니',한양대학교 성악과,,

 74%|███████▍  | 37/50 [01:13<00:25,  1.98s/it]

이름:  강예원 | 생일:   | 소속사:  제이와이드컴퍼니 | 소속:   | 소속팀:   | 그룹:   | 데뷔:  | 키:  165 | 몸무게: 45
[INFO] 소속사 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,38,강용석,,남자,"변호사, 정치인","(content_all:(title : ""강용석"" AND""기자"" OR ""방송인 강...",,,1969-12-03,,법무법인 넥스트로 대표변호사,,,,,,

 76%|███████▌  | 38/50 [01:15<00:23,  1.96s/it]

이름:  강용석 | 생일:  1969-12-03 | 소속사:   | 소속:   법무법인 넥스트로 (대표변호사) | 소속팀:   | 그룹:   | 데뷔:  | 키:   | 몸무게:
[INFO] 생일 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,39,강원래,,남자,방송인,"(content_all:((title : ""강원래"" -title:""김송"")AND""기...",183,78,1969-12-21,"미디어라인엔터테인먼트, 인플루엔셜",,,클론,1990년 '현진영과 와와' 백댄서,,,

 78%|███████▊  | 39/50 [01:17<00:21,  1.96s/it]

이름:  강원래 | 생일:  1969-12-21 | 소속사:  미디어라인엔터테인먼트, 인플루엔셜 | 소속:   | 소속팀:   | 그룹:   클론  | 데뷔: 1990년 현진영과 와와 | 키:  183 | 몸무게: 78
[INFO] 생일 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,40,강인,김영운,남자,가수,"(content_all:(title:""강인"" AND type:news AND(""슈퍼...",180,,1985-01-17,SM엔터테인먼트,,,,2005년 슈퍼주니어 1집 앨범 [SuperJunior 05],,,

 80%|████████  | 40/50 [01:19<00:19,  1.94s/it]

이름:  강인 | 생일:  1985-01-17 | 소속사:  SM엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2005년 슈퍼주니어 1집 앨범 [SuperJunior 05] | 키:   | 몸무게:
[INFO] 생일 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,41,강지영,,여자,배우,"(content_all:(title:""강지영"" AND type:news AND(""배...",167,,1994-01-18,키이스트,,,,2008년 카라 미니 앨범 [1st Mini Album],,,

 82%|████████▏ | 41/50 [01:21<00:17,  1.92s/it]

이름:  강지영 | 생일:  1994-01-18 | 소속사:  키이스트 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2008년 카라 미니 앨범 [1st Mini Album] | 키:   | 몸무게:
[INFO] 생일 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,42,강지환,조태규,남자,배우,"(content_all:(title : ""강지환""AND ""기자""))",184,72,1977-03-20,,,,,2002년 뮤지컬 '록키호러쇼',,,2009년 제46회 대종상영화제 신인남우상

 84%|████████▍ | 42/50 [01:23<00:15,  1.89s/it]

이름:  강지환 | 생일:   | 소속사:   | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2002년 뮤지컬 '록키호러쇼' | 키:  184 | 몸무게: 72
[INFO] 데뷔 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,43,강타,안칠현,남자,"가수,배우","(content_all:((title : ""강타"" -title:""빌보드"" -titl...",178,65,1979-10-10,SM엔터테인먼트,,,"에스,H.O.T.",1996년 H.O.T. 1집 앨범 'We Hate All Kinds Of Viole...,,,

 86%|████████▌ | 43/50 [01:25<00:13,  1.97s/it]

이름:  강타 | 생일:  1979-10-10 | 소속사:  SM엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 1996년 H.O.T. 1집 앨범 [We Hate All Kinds Of Violence] | 키:   | 몸무게:
[INFO] 생일 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,44,강하늘,김하늘,남자,배우,"(content_all:(title : ""강하늘"" AND ""기자"" NOT ""한솥밥""))",181,70,1990-02-21,티에이치컴퍼니,,,,2007년 드라마 '최강! 울엄마',,,

 88%|████████▊ | 44/50 [01:27<00:11,  1.91s/it]

이름:  강하늘 | 생일:   | 소속사:  티에이치컴퍼니 | 소속:   | 소속팀:   | 그룹:   | 데뷔:  | 키:  181 | 몸무게: 70
[INFO] 소속사 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,45,강혜정,,여자,배우,"(content_all:((title:""강혜정"" -title:""하루"")AND ""기자...",162,43,1982-01-04,씨제스엔터테인먼트,,,,1997년 잡지 '하이틴' 모델,,,

 90%|█████████ | 45/50 [01:29<00:09,  1.97s/it]

이름:  강혜정 | 생일:  1982-01-04 | 소속사:  씨제스엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 1997년 하이틴잡지 모델 | 키:  162 | 몸무게: 43
[INFO] 생일 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,46,강호동,,남자,"개그맨,방송인","(content_all:((title:""강호동"" -title:""밥심"" -title:...",182,105,1970-06-11,SM C&C,,,,1993년 MBC 특채 개그맨,,,

 92%|█████████▏| 46/50 [01:31<00:07,  1.89s/it]

이름:  강호동 | 생일:  1970-06-11 | 소속사:  SM C&C | 소속:   | 소속팀:   | 그룹:   | 데뷔: 1993년 MBC 특채 개그맨 | 키:  182 | 몸무게: 105
[INFO] 생일 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,47,개리,강희건,남자,가수,"(content_all:(title:""개리"" OR ""강희건"" OR""리쌍"") AND""...",174,63,1978-02-24,리쌍컴퍼니,,,리쌍,1999년 허니패밀리 1집 앨범 '남자 이야기',,,

 94%|█████████▍| 47/50 [01:33<00:05,  1.90s/it]

이름:  개리 | 생일:   | 소속사:   | 소속:   | 소속팀:   | 그룹:   리쌍  | 데뷔: 1999년 허니패밀리 1집 앨범 [남자 이야기] | 키:   | 몸무게:
[INFO] 데뷔 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,48,거미,박지연,여자,가수,"(content_all:((title:""거미"" -title:""조정석"")AND ""기자...",165,,1981-04-08,씨제스엔터테인먼트,,,,2003년 1집 앨범 'Like Them',,,

이름:  거미 | 생일:  1981-04-08 | 소속사:  씨제스엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2003년 1집 앨범 [Like Them] | 키:  165 | 몸무게:
[INFO] 생일 -> 매핑 성공!

 96%|█████████▌| 48/50 [01:36<00:04,  2.30s/it]

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,49,걸스데이,Girl's Day,여자,가수,"(content_all:((title:""걸스데이"" OR ""girls day"")AND...",,,,드림티엔터테인먼트,,,,2010년 EP 앨범 'Girl's Day Party #1',,,

 98%|█████████▊| 49/50 [01:39<00:02,  2.46s/it]

이름:  걸스데이 | 생일:   | 소속사:  드림티엔터테인먼트 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 2010년 EP 앨범 [Girl`s Day Party #1] | 키:   | 몸무게:
[INFO] 소속사 -> 매핑 성공!

,series_id,cd_name,cd_real_name,cd_gender,cd_category,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_belong,cd_team,cd_group,cd_debut,cd_academic,cd_career,cd_award
0,50,견미리,,여자,배우,"(content_all:(title:""견미리""AND""기자"" NOT ""인스타그램"" N...",159,45,1964-12-25,위너스미디어,,,,1984년 MBC 17기 공채 탤런트,,,

100%|██████████| 50/50 [01:41<00:00,  2.03s/it]

이름:  견미리 | 생일:   | 소속사:  위너스미디어 | 소속:   | 소속팀:   | 그룹:   | 데뷔: 1984년 MBC 17기 공채 탤런트 | 키:  159 | 몸무게: 45
[INFO] 소속사 -> 매핑 성공!

In [62]:
mapping_series_id = []

for m in mapping :
    mapping_ = m['series_id']
    mapping_series_id.append(mapping_)

In [63]:
non_mapping = []

for e in ex :
    if e not in mapping_series_id :
        non_mapping.append(e)

In [64]:
non_mapping

[12, 14, 23, 29, 32]

In [ ]:
##### 매핑 안된 애들 url 대신 x 넣는거 짜야댐

In [66]:
for i in tqdm(non_mapping) :
    conn, engine = db_connection()
    cursor = conn.cursor(pymysql.cursors.DictCursor)
    
    update_qry = f'UPDATE star_ko_profile_url SET naver_url=\'0\', update_date=NOW() WHERE series_id={i};'
    cursor.execute(update_qry)
    
conn.commit()

100%|██████████| 5/5 [00:02<00:00,  1.67it/s]