In [ ]:
# star_ko_data 에서 트로트가수 분류가 필요함
# series_id, 이름, 최신 앨범명, 발매 날짜, 장르(한 컬럼에 몰아서)
#


# 1차로 가수만 가지고 해보자

In [ ]:
# 중복 삭제
# DELETE a FROM star_album_genre a, star_album_genre b WHERE a.pk > b.pk AND a.series_id = b.series_id;

In [602]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re
import datetime
from difflib import SequenceMatcher
import pymysql
from sqlalchemy import create_engine
from tqdm import tqdm
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from tqdm import tqdm
import time

In [603]:
def db_connection(host_name='ds'):
    host_url = "db.ds.mycelebs.com"
    user_nm = "j_eungg"
    passwd = "wldms10529"
    port_num = 3306
    db_name = "star_ko"
    conn = pymysql.connect(host=host_url, user=user_nm, passwd=passwd, port = port_num, charset='utf8',
                           db=db_name, cursorclass=pymysql.cursors.DictCursor)
    # cursorclass=pymysql.cursors.DictCursor 추가 -> 데이터프레임으로 다루기 쉽게 딕셔너리 형태로 결과 반환해줌, cursor는 튜플형태
    # db=db,
    engine = create_engine(f'mysql+pymysql://{user_nm}:{passwd}@{host_url}:{port_num}/{db_name}?charset=utf8mb4')
    return conn, engine

## 1. VIBE key 값 (vibeCd) 수집

In [604]:
conn, engine = db_connection()
qry = "SELECT * FROM star_ko_data WHERE cd_category like '%가수%' and cd_is_use=1"
data = pd.read_sql(qry, conn)
data.head(2)

,cd_pk,series_id,cd_name,cd_category,cd_gender,cd_search_word,cd_solr_search,cd_real_name,cd_basic_info,cd_height,...,profile_url_rectangle_small,profile_url_diagonal,profile_url_square_medium,profile_url_square_small,profile_url_round_large,profile_url_round_medium,profile_url_round_small,profile_url_rectangle_large,profile_url_square_large,agency_idx
0,1,1,2AM,가수,남자,아이돌 | 보이그룹 | 콘서트 | 공연 | 음반 | 조권 | 창민 | 슬옹 | 진운...,"(content_all:(title:""2am"" AND ""기자"" ))",,None,NaN,...,https://all.image.mycelebs.com/1/1_1035@420.jpg,https://all.image.mycelebs.com/1/1_573@372.jpg,https://all.image.mycelebs.com/1/1_288@288.jpg,https://all.image.mycelebs.com/1/1_240@240.jpg,https://all.image.mycelebs.com/1/1_249@249.jpg,https://all.image.mycelebs.com/1/1_144@144.jpg,https://all.image.mycelebs.com/1/1_108@108.jpg,https://all.image.mycelebs.com/1/1_1035@738.jpg,https://all.image.mycelebs.com/1/1_420@420.jpg,NaN
1,2,2,투애니원,가수,여자,"걸그룹 | 콘서트 | 공연 | 음반 | 씨엘 | 봄 | 다라 | 민지 | CL ""2...","(content_all:((title:""2ne1"" title:""투애니원"" title...",2NE1,None,NaN,...,https://all.image.mycelebs.com/2/2_1035@420.jpg,https://all.image.mycelebs.com/2/2_573@372.jpg,https://all.image.mycelebs.com/2/2_288@288.jpg,https://all.image.mycelebs.com/2/2_240@240.jpg,https://all.image.mycelebs.com/2/2_249@249.jpg,https://all.image.mycelebs.com/2/2_144@144.jpg,https://all.image.mycelebs.com/2/2_108@108.jpg,https://all.image.mycelebs.com/2/2_1035@738.jpg,https://all.image.mycelebs.com/2/2_420@420.jpg,161236.0

In [605]:
data_list = data['series_id'].to_list()
print("star_ko_data 가수 수 :", len(data_list))

star_ko_data 가수 수 : 5819

In [606]:
qry = f'SELECT * FROM star_ko_profile_url WHERE naver_url is not NULL AND naver_url != \'0\' and naver_url != \'x\''
profileData = pd.read_sql(qry, con=conn)
profileData_list = profileData['series_id'].to_list()
print("star_ko_profile_url 네이버 프로필 수집된 개체 수 :", len(profileData_list))

star_ko_profile_url 네이버 프로필 수집된 개체 수 : 10138

In [591]:
# 수집할 대상

data_ = []

for p in profileData_list :
    if p in data_list :
        data_.append(p)
        
print("가수 중에서 네이버 프로필 있는 개체 수 :", len(data_))

가수 중에서 네이버 프로필 있는 개체 수 : 3763

In [592]:
genreData_list = []

conn, engine = db_connection()

# qry = f'SELECT * FROM star_album_genre WHERE vibeCd is not NULL'
qry = f'SELECT * FROM star_album_genre'
genreData = pd.read_sql(qry, con=conn)
genreData_list = genreData['series_id'].to_list()

In [593]:
# 최종 대상
# 수집 대상 중에 star_album_genre 에 없는 사람

final = []

for idx in data_ :
    if idx not in genreData_list :
        final.append(idx)

In [594]:
len(final)

1977

In [595]:
conn.close()

In [598]:
conn, engine = db_connection()

qry = f'SELECT * FROM star_album_genre WHERE series_id >= 1823 and series_id <= 2304'
final = pd.read_sql(qry, con=conn)
final = final['series_id'].to_list()

In [600]:
len(final)

102

In [601]:
chrome_options = webdriver.ChromeOptions()
#chrome_options.add_argument('--headless')
driver = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)

number = int(input("vibeCd 수집할 개체 수 입력 :"))
ex = final[0:number]

for i in tqdm(ex) :
    conn, engine = db_connection()
    cursor = conn.cursor(pymysql.cursors.DictCursor)
    
    #vibeCd = ''
    
    qry = f'SELECT * FROM star_ko_profile_url WHERE series_id={i}'
    profileData = pd.read_sql(qry, con=conn)
    
    series_id = name = naver_url = vibe_url = ''
    
    series_id = profileData['series_id'][0]
    name = profileData['name'][0]
    naver_url = profileData['naver_url'][0]
    
    naver_html = requests.get(naver_url).text
    time.sleep(0.5)
    naver_soup = BeautifulSoup(naver_html, 'html.parser')
    time.sleep(0.5)
    
    # VIBE url 찾기
    try :
        tit = naver_soup.select('a[class=tit]')

        for t in tit :
            if 'vibe' in t.get('href') :
                vibe_url = t.get('href')

        driver.get(vibe_url)
        time.sleep(3)
        try :
            driver.find_element_by_xpath('//*[@id="app"]/div[2]/div/div/a[2]').click()
        except :
            pass

        html = driver.page_source
        soup = BeautifulSoup(html, 'html.parser')

        #time.sleep(3)

        # VIBE key 값
        #vibeCd = ''
        vibeCd = soup.select('a[class=link_sub_title]')[0].get('href')
        vibeCd = re.findall("\d+", vibeCd)[0]

        qry = f"INSERT into star_album_genre (series_id, vibeCd, name) VALUES ({series_id}, {vibeCd}, '{name}')"
        cursor.execute(qry)
        conn.commit()
        print("[INFO]", name, " insert 완료")
        
    except :
        print("VIBE url NONE")
        
        qry = f"INSERT into star_album_genre (series_id, name) VALUES ({series_id}, '{name}')"
        cursor.execute(qry)
        conn.commit()

    
conn.close()
driver.close()

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/jieun/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

vibeCd 수집할 개체 수 입력 :102

  1%|          | 1/102 [00:08<14:25,  8.57s/it]

[INFO] 임현식  insert 완료

  2%|▏         | 2/102 [00:14<12:05,  7.26s/it]

[INFO] 장석현  insert 완료

  3%|▎         | 3/102 [00:20<10:42,  6.49s/it]

[INFO] 장예은  insert 완료

  4%|▍         | 4/102 [00:26<10:17,  6.30s/it]

[INFO] 장혜진  insert 완료

  5%|▍         | 5/102 [00:32<10:05,  6.24s/it]

[INFO] 저메인 잭슨  insert 완료

  6%|▌         | 6/102 [00:38<09:44,  6.09s/it]

[INFO] 전영록  insert 완료

  7%|▋         | 7/102 [00:44<09:25,  5.95s/it]

[INFO] 전태관  insert 완료

  8%|▊         | 8/102 [00:50<09:33,  6.10s/it]

[INFO] 정국  insert 완료

  9%|▉         | 9/102 [00:56<09:35,  6.19s/it]

[INFO] 정은선  insert 완료

 10%|▉         | 10/102 [01:03<09:32,  6.23s/it]

[INFO] 정찬우  insert 완료

 11%|█         | 11/102 [01:09<09:16,  6.11s/it]

[INFO] 정태춘  insert 완료

 12%|█▏        | 12/102 [01:15<09:14,  6.16s/it]

[INFO] 정하나  insert 완료

 13%|█▎        | 13/102 [01:20<08:54,  6.01s/it]

[INFO] 정훈희  insert 완료

 14%|█▎        | 14/102 [01:27<08:53,  6.06s/it]

[INFO] 제시  insert 완료

 15%|█▍        | 15/102 [01:32<08:37,  5.95s/it]

[INFO] 제이니  insert 완료

 16%|█▌        | 16/102 [01:38<08:33,  5.97s/it]

[INFO] 조경수  insert 완료

 17%|█▋        | 17/102 [01:45<08:34,  6.05s/it]

[INFO] 조이  insert 완료

 18%|█▊        | 18/102 [01:47<06:54,  4.94s/it]

VIBE url NONE

 19%|█▊        | 19/102 [01:53<07:25,  5.37s/it]

[INFO] 쟈니  insert 완료

 20%|█▉        | 20/102 [01:59<07:38,  5.59s/it]

[INFO] 지연  insert 완료

 21%|██        | 21/102 [02:06<07:45,  5.75s/it]

[INFO] 차지연  insert 완료

 22%|██▏       | 22/102 [02:11<07:43,  5.79s/it]

[INFO] 천둥  insert 완료

 23%|██▎       | 23/102 [02:14<06:17,  4.78s/it]

VIBE url NONE

 24%|██▎       | 24/102 [02:20<06:40,  5.13s/it]

[INFO] 켄  insert 완료

 25%|██▍       | 25/102 [02:22<05:21,  4.18s/it]

VIBE url NONE

 25%|██▌       | 26/102 [02:28<06:00,  4.75s/it]

[INFO] 테일러 스위프트  insert 완료

 26%|██▋       | 27/102 [02:34<06:16,  5.02s/it]

[INFO] 토마츠 하루카  insert 완료

 27%|██▋       | 28/102 [02:35<05:03,  4.10s/it]

VIBE url NONE

 28%|██▊       | 29/102 [02:42<05:45,  4.73s/it]

[INFO] 패리스 힐튼  insert 완료

 29%|██▉       | 30/102 [02:44<04:53,  4.07s/it]

VIBE url NONE

 30%|███       | 31/102 [02:51<05:37,  4.75s/it]

[INFO] 펀치  insert 완료

 31%|███▏      | 32/102 [02:56<05:55,  5.07s/it]

[INFO] 한대수  insert 완료

 32%|███▏      | 33/102 [03:02<06:07,  5.33s/it]

[INFO] 한라  insert 완료

 33%|███▎      | 34/102 [03:08<06:16,  5.54s/it]

[INFO] 한영  insert 완료

 34%|███▍      | 35/102 [03:15<06:25,  5.76s/it]

[INFO] 한혜진  insert 완료

 35%|███▌      | 36/102 [03:21<06:29,  5.89s/it]

[INFO] 허경영  insert 완료

 36%|███▋      | 37/102 [03:26<06:17,  5.80s/it]

[INFO] 현아  insert 완료

 37%|███▋      | 38/102 [03:32<06:10,  5.79s/it]

[INFO] 현철  insert 완료

 38%|███▊      | 39/102 [03:38<06:13,  5.93s/it]

[INFO] 혜은이  insert 완료

 39%|███▉      | 40/102 [03:44<06:08,  5.95s/it]

[INFO] 혜인  insert 완료

 40%|████      | 41/102 [03:50<05:59,  5.89s/it]

[INFO] 홍서범  insert 완료

 41%|████      | 42/102 [03:57<06:02,  6.04s/it]

[INFO] 황치열  insert 완료

 42%|████▏     | 43/102 [04:02<05:53,  5.99s/it]

[INFO] 후니정  insert 완료

 43%|████▎     | 44/102 [04:04<04:37,  4.79s/it]

VIBE url NONE

 44%|████▍     | 45/102 [04:10<04:51,  5.12s/it]

[INFO] 에미넴  insert 완료

 45%|████▌     | 46/102 [04:16<05:02,  5.41s/it]

[INFO] 치타  insert 완료

 46%|████▌     | 47/102 [04:23<05:10,  5.64s/it]

[INFO] 김경록  insert 완료

 47%|████▋     | 48/102 [04:29<05:11,  5.77s/it]

[INFO] 원펀치  insert 완료

 48%|████▊     | 49/102 [04:35<05:11,  5.88s/it]

[INFO] 김성재  insert 완료

 49%|████▉     | 50/102 [04:41<05:11,  5.99s/it]

[INFO] 김용준  insert 완료

 50%|█████     | 51/102 [04:47<05:07,  6.04s/it]

[INFO] 김원준  insert 완료

 51%|█████     | 52/102 [04:54<05:07,  6.15s/it]

[INFO] 송하예  insert 완료

 52%|█████▏    | 53/102 [05:01<05:16,  6.46s/it]

[INFO] 송호범  insert 완료

 53%|█████▎    | 54/102 [05:07<05:06,  6.39s/it]

[INFO] 스콜피온스  insert 완료

 54%|█████▍    | 55/102 [05:13<04:59,  6.38s/it]

[INFO] 스테파니  insert 완료

 55%|█████▍    | 56/102 [05:19<04:45,  6.20s/it]

[INFO] 사이먼 도미닉  insert 완료

 56%|█████▌    | 57/102 [05:25<04:40,  6.23s/it]

[INFO] 어반자카파  insert 완료

 57%|█████▋    | 58/102 [05:32<04:39,  6.35s/it]

[INFO] 우희  insert 완료

 58%|█████▊    | 59/102 [05:34<03:42,  5.17s/it]

VIBE url NONE

 59%|█████▉    | 60/102 [05:41<03:50,  5.50s/it]

[INFO] 이용  insert 완료

 60%|█████▉    | 61/102 [05:43<03:04,  4.50s/it]

VIBE url NONE

 61%|██████    | 62/102 [05:49<03:15,  4.90s/it]

[INFO] 이현도  insert 완료

 62%|██████▏   | 63/102 [05:55<03:28,  5.35s/it]

[INFO] 자두  insert 완료

 63%|██████▎   | 64/102 [06:01<03:29,  5.52s/it]

[INFO] 자이언티  insert 완료

 64%|██████▎   | 65/102 [06:07<03:27,  5.60s/it]

[INFO] 혁오  insert 완료

 65%|██████▍   | 66/102 [06:13<03:31,  5.87s/it]

[INFO] 장범준  insert 완료

 66%|██████▌   | 67/102 [06:19<03:26,  5.89s/it]

[INFO] 정재욱  insert 완료

 67%|██████▋   | 68/102 [06:25<03:18,  5.83s/it]

[INFO] 정재일  insert 완료

 68%|██████▊   | 69/102 [06:27<02:38,  4.80s/it]

VIBE url NONE

 69%|██████▊   | 70/102 [06:33<02:42,  5.07s/it]

[INFO] 추가열  insert 완료

 70%|██████▉   | 71/102 [06:39<02:43,  5.28s/it]

[INFO] 키썸  insert 완료

 71%|███████   | 72/102 [06:45<02:49,  5.66s/it]

[INFO] 타이거jk  insert 완료

 72%|███████▏  | 73/102 [06:51<02:44,  5.66s/it]

[INFO] 김지숙  insert 완료

 73%|███████▎  | 74/102 [06:57<02:37,  5.64s/it]

[INFO] 큐리  insert 완료

 74%|███████▎  | 75/102 [06:59<02:06,  4.68s/it]

VIBE url NONE

 75%|███████▍  | 76/102 [07:05<02:08,  4.93s/it]

[INFO] 선예  insert 완료

 75%|███████▌  | 77/102 [07:07<01:45,  4.20s/it]

VIBE url NONE

 76%|███████▋  | 78/102 [07:13<01:51,  4.66s/it]

[INFO] 제아  insert 완료

 77%|███████▋  | 79/102 [07:18<01:53,  4.95s/it]

[INFO] 가희  insert 완료

 78%|███████▊  | 80/102 [07:24<01:52,  5.11s/it]

[INFO] 지헤라  insert 완료

 79%|███████▉  | 81/102 [07:26<01:30,  4.29s/it]

VIBE url NONE

 80%|████████  | 82/102 [07:32<01:34,  4.71s/it]

[INFO] 지누  insert 완료

 81%|████████▏ | 83/102 [07:38<01:35,  5.01s/it]

[INFO] 투컷  insert 완료

 82%|████████▏ | 84/102 [07:43<01:33,  5.18s/it]

[INFO] 남태현  insert 완료

 83%|████████▎ | 85/102 [07:46<01:13,  4.33s/it]

VIBE url NONE

 84%|████████▍ | 86/102 [07:52<01:16,  4.81s/it]

[INFO] 김진우  insert 완료

 85%|████████▌ | 87/102 [07:57<01:15,  5.05s/it]

[INFO] 마스터 우  insert 완료

 86%|████████▋ | 88/102 [08:00<00:59,  4.27s/it]

VIBE url NONE

 87%|████████▋ | 89/102 [08:06<01:05,  5.01s/it]

[INFO] 지수  insert 완료

 88%|████████▊ | 90/102 [08:13<01:04,  5.36s/it]

[INFO] 아이콘  insert 완료

 89%|████████▉ | 91/102 [08:18<01:00,  5.46s/it]

[INFO] 이주노  insert 완료

 90%|█████████ | 92/102 [08:24<00:55,  5.51s/it]

[INFO] 문명진  insert 완료

 91%|█████████ | 93/102 [08:26<00:41,  4.58s/it]

VIBE url NONE

 92%|█████████▏| 94/102 [08:32<00:39,  4.93s/it]

[INFO] 진영  insert 완료

 93%|█████████▎| 95/102 [08:38<00:35,  5.14s/it]

[INFO] JB  insert 완료

 94%|█████████▍| 96/102 [08:43<00:31,  5.31s/it]

[INFO] 핫펠트  insert 완료

 95%|█████████▌| 97/102 [08:46<00:22,  4.43s/it]

VIBE url NONE

 96%|█████████▌| 98/102 [08:52<00:20,  5.03s/it]

[INFO] 혜림  insert 완료

 97%|█████████▋| 99/102 [08:58<00:16,  5.37s/it]

[INFO] 준호  insert 완료

 98%|█████████▊| 100/102 [09:04<00:10,  5.46s/it]

[INFO] 이창민  insert 완료

 99%|█████████▉| 101/102 [09:07<00:04,  4.60s/it]

VIBE url NONE

100%|██████████| 102/102 [09:13<00:00,  5.43s/it]

[INFO] 찬성  insert 완료

## 1.1 수기 매핑 (중복값 & null 값)

In [607]:
conn, engine = db_connection()

qry = f'SELECT * FROM star_album_genre WHERE vibeCd is NULL'
nullData = pd.read_sql(qry, con=conn)
nullData_list = nullData['series_id'].to_list()

In [608]:
qry = f'SELECT * FROM star_album_genre GROUP BY vibeCd HAVING COUNT(vibeCd) > 1'
dupData = pd.read_sql(qry, con=conn)
dupData_list = dupData['series_id'].to_list()

In [609]:
handmapping = []

handmapping = nullData_list + dupData_list
print("nullData_list : ", len(nullData_list), "dupData_list : ", len(dupData_list), "합 : ", len(handmapping))

nullData_list :  199 dupData_list :  272 합 :  471

In [610]:
conn.close()

In [584]:
conn, engine = db_connection()
cursor = conn.cursor(pymysql.cursors.DictCursor)

chrome_options = webdriver.ChromeOptions()
# chrome_options.add_argument('--headless')
driver = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)
driver.get('https://vibe.naver.com/search?query=')

naver_driver = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)

for idx in tqdm(handmapping) :
    qry = f'SELECT series_id, cd_name, cd_real_name, cd_category, cd_gender, cd_solr_search, cd_height, cd_weight, cd_birth, cd_agency, cd_debut, cd_academic, cd_career, cd_award FROM star_ko_data WHERE series_id={idx}'
    result = pd.read_sql(qry, conn)
    display(result)
    
    qry2 = f'SELECT * FROM star_ko_profile_url WHERE series_id={idx}'
    result2 = pd.read_sql(qry2, conn)
    series_id = result2['series_id'][0]
    name = result2['name'][0]
    naver = result2['naver_url'][0]
    
    naver_driver.get(naver)
    
    driver.get(f'https://vibe.naver.com/search?query={name}')
    
    print(naver)
    
    try :
        driver.find_element_by_xpath('//*[@id="app"]/div[2]/div/div/a[2]').click()
    except :
        pass
    
    vibe = input("vibeCd를 입력하세요. ")
    
    if vibe == '' :
        vibeCd = '"x"'
    else :
        vibeCd = vibe
        
    updateQRY = f'UPDATE star_album_genre SET vibeCd={vibeCd} WHERE series_id={series_id}'
    cursor.execute(updateQRY)
    conn.commit()

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/jieun/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache


====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/jieun/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache
  0%|          | 0/467 [00:00<?, ?it/s]

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,1812,임선영,,가수,여자,"(content_all:(""Y미디어 임선영""~10 OR ""가수 임선영""~10))",174,49,1983-02-23,Y미디어,2001년 거북이 1집 앨범 'Go Boogie',수원대학교 연극영화학과,,

vibeCd를 입력하세요. 3067344

  0%|          | 1/467 [00:28<3:45:12, 29.00s/it]

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,1814,임세준,,가수,남자,"(content_all:(title:""임세준"" AND ""기자"" AND (""가수 임세...",175,68,1989-07-18,도우즈 레코즈,2012년 싱글 앨범 'To Love Somebody',서울예술대학교 실용음악과,,

vibeCd를 입력하세요. 171332

  0%|          | 2/467 [00:38<2:13:59, 17.29s/it]

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,1816,임수정,,"가수,모델",여자,"(content_all:(title:""임수정""AND""기자"" AND(""가수 임수정"" ...",162,45,1963-10-08,,1982년 드라마 OST '연인들의 이야기',정읍여자고등학교,,

vibeCd를 입력하세요. 10027

  1%|          | 3/467 [00:50<1:55:24, 14.92s/it]

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,1819,나영,,가수,여자,"(content_all:((title:""나영"" title:""김나영"") AND typ...",155,43,0000-00-00 00:00:00,큐브엔터테인먼트,,,,

vibeCd를 입력하세요.

  1%|          | 4/467 [00:57<1:30:52, 11.78s/it]

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,1821,임태경,,"배우,가수",남자,"(content_all:(""배우 임태경""~10 OR ""뮤지컬배우 임태경""~10 OR...",None,None,1973-07-04,,2004년 1집 앨범 'Sentimental Journ,보스턴 대학교 대학원 성악학과 외 3건,,

vibeCd를 입력하세요. 10120

  1%|          | 5/467 [01:09<1:32:48, 12.05s/it]

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,1823,임현식,,가수,남자,"(content_all:((title:""임현식"" title:""현식"") AND typ...",177,66,1992-03-07,큐브엔터테인먼트,2012년 비투비 싱글 앨범 [비밀],호원대학교 실용음악학과,,

vibeCd를 입력하세요. 214557

  1%|▏         | 6/467 [01:20<1:30:00, 11.72s/it]

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,1830,장석현,,"가수,배우",남자,"(content_all:(""영화배우 장석현""~10 OR ""배우 장석현""~10 OR ...",178,70,1980-10-26,EPP미디어,1998년 샵 1집 앨범 'The Sharp',동아방송대학 방송연예과,,

  1%|▏         | 6/467 [02:18<2:57:25, 23.09s/it]

KeyboardInterrupt: Interrupted by user

## 2. 장르 수집

In [573]:
conn, engine = db_connection()

qry = f'SELECT * FROM star_album_genre WHERE vibeCd is not NULL and vibeCd != \'x\''
data = pd.read_sql(qry, con=conn)
data.head(3)

,pk,series_id,vibeCd,name,new_albumName,release_date,genre,regist_date,update_date
0,1,1,110359,2AM,None,None,None,2021-09-07 05:55:52,NaT
1,2,2,117564,2NE1,None,None,None,2021-09-07 05:55:57,NaT
2,3,3,112090,2PM,None,None,None,2021-09-07 05:56:02,NaT

In [570]:
len(data)

1097

In [572]:
data_list = data['vibeCd'].to_list()

In [ ]:
chrome_options = webdriver.ChromeOptions()
# chrome_options.add_argument('--headless')
driver = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)

number = int(input("장르 분류할 개체 수 입력 :"))
ex = data_list[0:number]

album_url = []
genre_list = []

for i in tqdm(ex) :
    conn, engine = db_connection()
    cursor = conn.cursor(pymysql.cursors.DictCursor)
    
    vibe_url = 'https://vibe.naver.com/artist/'+i
    
    driver.get(vibe_url)
    try : 
        driver.find_element_by_xpath('//*[@id="app"]/div[2]/div/div/a[2]').click() # 팝업창 끄기
    except :
        pass
    
    while True :    
        try :    
            driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") # 스크롤 끝까지 내리기
            time.sleep(0.5)

            driver.find_element_by_xpath('//*[@id="content"]/div/div[3]/div/a').click() # 더보기 클릭
            time.sleep(0.5)
        except :
            break
            
    vibe_html = driver.page_source
    vibe_soup = BeautifulSoup(vibe_html, 'html.parser')
    
    # 앨범 리스트
    album_list = vibe_soup.select('a[class=title]')

    for i in album_list :
        href = i.get('href')
        href = 'https://vibe.naver.com' + href
        album_url.append(href)
        
        
    # 최신 앨범명 & 발매 날짜
    newURL = album_url[0]

    driver.get(newURL)
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')

    # 앨범명
    title = soup.select('span[class=title]')[0].text
    title = re.sub("\!|\'|\?", "", title)  # 특수문자 제거
    # 발매 날짜
    relese_date = soup.select('span[class=item]')[0].text
    relese_date = relese_date.replace(' ', '')
        
    # 모든 장르
    for j in album_url :
        driver.get(j)
        html_ = driver.page_source
        soup_ = BeautifulSoup(html_, 'html.parser')
        
        genre = soup_.select('span[class=item]')[1].text
        genre = genre.replace(' ', '')
        
        genre_list.append(genre)
        
    genre_list = list(set(genre_list)) # 중복 제거
    
    # 사업자 등록 번호 제거
    for a in genre_list[::-1] :
        if a.find('사업자') > -1 :
            genre_list.remove(a)
            
    # 리스트 문자열로 합치기
    genre_str = '|'.join(genre_list)

    insertQRY = f"INSERT into star_album_genre (series_id, vibeCd, name, new_albumName, release_date, genre) \
                VALUES ({series_id}, {vibeCd}, '{name}', '{title}', '{relese_date}', '{genre_str}')"
    cursor.execute(insertQRY)
    conn.commit()
    
conn.close()
driver.close()

In [103]:
### vibeCd & 장르 한꺼번에 수집하는 코드

chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
driver = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)

number = int(input("장르 분류할 개체 수 입력 :"))
ex = data_list[0:number]

album_url = []
genre_list = []

for i in tqdm(ex) :
    conn, engine = db_connection()
    cursor = conn.cursor(pymysql.cursors.DictCursor)
    
    qry = f'SELECT * FROM star_ko_profile_url WHERE series_id={i}'
    profileData = pd.read_sql(qry, con=conn)
    
    series_id = profileData['series_id'][0]
    name = profileData['name'][0]
    naver_url = profileData['naver_url'][0]
    
    naver_html = requests.get(naver_url).text
    naver_soup = BeautifulSoup(naver_html, 'html.parser')
    
    # 앨범 상세보기 > 바이브
    vibe_url = naver_soup.select('a[class=bt_more]')[0].get('href')
    vibeCd = re.findall("\d+", vibe_url)[0]
    
    driver.get(vibe_url)
    driver.find_element_by_xpath('//*[@id="app"]/div[2]/div/div/a[2]').click() # 팝업창 끄기
    
    while True :    
        try :    
            driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") # 스크롤 끝까지 내리기
            time.sleep(1)

            driver.find_element_by_xpath('//*[@id="content"]/div/div[3]/div/a').click() # 더보기 클릭
            time.sleep(1)

        except :
            break
            
    vibe_html = driver.page_source
    vibe_soup = BeautifulSoup(vibe_html, 'html.parser')
    
    # 앨범 리스트
    album_list = vibe_soup.select('a[class=title]')

    for i in album_list :
        href = i.get('href')
        href = 'https://vibe.naver.com' + href
        album_url.append(href)
        
        
    # 최신 앨범명 & 발매 날짜
    newURL = album_url[0]

    driver.get(newURL)
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')

    # 앨범명
    title = soup.select('span[class=title]')[0].text
    title = re.sub("\!|\'|\?", "", title)  # 특수문자 제거
    # 발매 날짜
    relese_date = soup.select('span[class=item]')[0].text
    relese_date = relese_date.replace(' ', '')
        
    # 모든 장르
    for j in album_url :
        driver.get(j)
        html_ = driver.page_source
        soup_ = BeautifulSoup(html_, 'html.parser')
        
        genre = soup_.select('span[class=item]')[1].text
        genre = genre.replace(' ', '')
        
        genre_list.append(genre)
        
    genre_list = list(set(genre_list)) # 중복 제거
    
    # 사업자 등록 번호 제거
    for a in genre_list[::-1] :
        if a.find('사업자') > -1 :
            genre_list.remove(a)
            
    # 리스트 문자열로 합치기
    genre_str = '|'.join(genre_list)

    insertQRY = f"INSERT into star_album_genre (series_id, vibeCd, name, new_albumName, release_date, genre) \
                VALUES ({series_id}, {vibeCd}, '{name}', '{title}', '{relese_date}', '{genre_str}')"
    cursor.execute(insertQRY)
    conn.commit()
    
conn.close()
driver.close()

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/jieun/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

장르 분류할 개체 수 입력 :1

  0%|          | 0/1 [00:35<?, ?it/s]

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's Talk', '2014.10.30', '응원가|발라드,알앤비/어반|댄스|캐롤|영' at line 1")

In [188]:
naver_url = 'https://people.search.naver.com/search.naver?where=nexearch&sm=tab_ppn&query=%EC%83%A4%EC%9D%B4%EB%8B%88%ED%83%9C%EB%AF%BC&os=154915&ie=utf8&key=PeopleService'

naver_html = requests.get(naver_url).text
naver_soup = BeautifulSoup(naver_html, 'html.parser')

tit = naver_soup.select('a[class=tit]')

for t in tit :
    if 'vibe' in t.get('href') :
        vibe_url = t.get('href')
        
chrome_options = webdriver.ChromeOptions()
# chrome_options.add_argument('--headless')
driver = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)

driver.get(vibe_url)
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

# VIBE key 값
vibeCd = soup.select('a[class=link_sub_title]')[0].get('href')
vibeCd = re.findall("\d+", vibeCd)[0]

qry = f"INSERT into star_album_genre (series_id, vibeCd, name) VALUES ({series_id}, {vibeCd}, '{name}')"

In [451]:
conn.close()

In [456]:
conn, engine = db_connection()
qry = 'SELECT * FROM star_album_genre_copy_ GROUP BY vibeCd HAVING COUNT(vibeCd) > 1'
df = pd.read_sql(qry, con=conn)
df.head()
# df_list = df['series_id'].to_list()

,pk,series_id,vibeCd,name,new_albumName,release_date,genre,regist_date,update_date
0,2423,8052008,101699,윙크,None,None,None,2021-09-06 17:11:16,None
1,3456,16388181,102088,다빈크,None,None,None,2021-09-06 18:46:49,None
2,1225,3244,104494,마이티 마우스,None,None,None,2021-09-06 14:56:23,None
3,178,398,10476,배치기,None,None,None,2021-09-06 13:12:13,None
4,181,406,106,백지영,None,None,None,2021-09-06 13:12:29,None

In [462]:
df.shape

(477, 9)

In [459]:
df_list = df['vibeCd'].to_list()

In [460]:
len(df_list)

477

In [461]:
df_list

['101699',
 '102088',
 '104494',
 '10476',
 '106',
 '107338',
 '1076039',
 '107746',
 '10793',
 '10838',
 '1090381',
 '1090664',
 '109320',
 '109713',
 '11001',
 '110111',
 '110142',
 '11156',
 '112',
 '112090',
 '112268',
 '114411',
 '115',
 '115457',
 '115672',
 '116436',
 '11691',
 '116932',
 '118106',
 '11857',
 '11925',
 '119353',
 '119647',
 '1200405',
 '1200595',
 '120130',
 '121224',
 '121611',
 '121722',
 '122084',
 '122134',
 '122136',
 '1229',
 '1231',
 '123222',
 '12435',
 '124674',
 '125352',
 '12536',
 '12543',
 '125617',
 '126049',
 '127297',
 '128608',
 '129',
 '1304',
 '131660',
 '133892',
 '13542',
 '135502',
 '135666',
 '135669',
 '136625',
 '137277',
 '138432',
 '138437',
 '138458',
 '1385',
 '138775',
 '138794',
 '139059',
 '14044',
 '140917',
 '14139',
 '14227',
 '142945',
 '143112',
 '143179',
 '143404',
 '144',
 '1441118',
 '14452',
 '1466571',
 '14848',
 '148483',
 '1485228',
 '1485262',
 '148769',
 '1490807',
 '152583',
 '15292',
 '1541899',
 '154543',
 '154626',
 '154659',
 '15466',
 '155052',
 '155310',
 '155629',
 '156',
 '156525',
 '156842',
 '15838',
 '160',
 '1619112',
 '1620399',
 '1620438',
 '1622092',
 '1622228',
 '1622620',
 '1629875',
 '1629941',
 '1630433',
 '1630881',
 '1649093',
 '1650044',
 '166971',
 '167166',
 '1677995',
 '1687805',
 '16975',
 '170717',
 '171334',
 '171437',
 '173081',
 '173672',
 '17392',
 '1748968',
 '1749298',
 '1749575',
 '1749693',
 '1750260',
 '1751116',
 '1751526',
 '17688',
 '1773',
 '1786439',
 '1786645',
 '1786691',
 '1786713',
 '1787227',
 '1787429',
 '179',
 '1866297',
 '1866529',
 '1888837',
 '1888945',
 '1914307',
 '1963693',
 '198',
 '2',
 '200',
 '200958',
 '204033',
 '2046670',
 '206',
 '208041',
 '208373',
 '2083822',
 '208476',
 '209479',
 '210179',
 '2122974',
 '212821',
 '2138851',
 '2138891',
 '214205',
 '214548',
 '214853',
 '215733',
 '215754',
 '215947',
 '2182548',
 '219335',
 '219743',
 '219795',
 '2207011',
 '220803',
 '222134',
 '222451',
 '2227065',
 '224783',
 '225713',
 '226369',
 '227561',
 '227728',
 '227840',
 '229269',
 '2303440',
 '230711',
 '232997',
 '234131',
 '2355239',
 '2355637',
 '236955',
 '237984',
 '2383549',
 '2388740',
 '2388940',
 '2389902',
 '239',
 '2395489',
 '2403554',
 '2406231',
 '2411421',
 '2414306',
 '2421333',
 '2423388',
 '2430499',
 '243100',
 '2437182',
 '2438964',
 '2438965',
 '2475444',
 '2475793',
 '2478835',
 '2480164',
 '2487552',
 '2487671',
 '2509847',
 '255',
 '255833',
 '2561670',
 '2562209',
 '2562260',
 '257544',
 '265291',
 '265524',
 '267616',
 '2698569',
 '2698791',
 '2708920',
 '271',
 '2710191',
 '272',
 '272181',
 '272195',
 '272211',
 '273093',
 '2744590',
 '2751244',
 '275870',
 '2765898',
 '276916',
 '277',
 '278',
 '279',
 '280107',
 '280742',
 '2826221',
 '2834024',
 '2835809',
 '284',
 '284024',
 '2850484',
 '2854732',
 '286',
 '2866300',
 '2894729',
 '2896760',
 '2898364',
 '2898375',
 '2902778',
 '293660',
 '293818',
 '2941978',
 '294203',
 '2949946',
 '2951186',
 '2953194',
 '2953499',
 '2953926',
 '2955607',
 '296776',
 '2978528',
 '298739',
 '2988057',
 '3004377',
 '305',
 '3053791',
 '3067646',
 '307',
 '30700',
 '30970',
 '312910',
 '31313',
 '313662',
 '314080',
 '314487',
 '315703',
 '315705',
 '316015',
 '318979',
 '321',
 '321900',
 '322742',
 '323971',
 '324278',
 '324943',
 '329750',
 '330256',
 '330966',
 '3324',
 '33312',
 '337401',
 '338119',
 '338163',
 '338357',
 '339444',
 '33954',
 '340040',
 '340168',
 '342478',
 '3427422',
 '343255',
 '34591',
 '347504',
 '347655',
 '350151',
 '3526190',
 '35291',
 '3530149',
 '353030',
 '3531958',
 '3541996',
 '3548171',
 '35551',
 '356004',
 '356460',
 '3568976',
 '3569426',
 '3577781',
 '358112',
 '358473',
 '3587442',
 '35944',
 '360735',
 '3621491',
 '362264',
 '3624263',
 '3631797',
 '3638731',
 '3640202',
 '3657600',
 '36652',
 '36660',
 '3667937',
 '366934',
 '36820',
 '369038',
 '369815',
 '371564',
 '373690',
 '376543',
 '3772963',
 '377833',
 '378524',
 '3793448',
 '3794',
 '379622',
 '3818222',
 '3820664',
 '383753',
 '3848369',
 '3893357',
 '3906159',
 '3927073',
 '3969365',
 '3978589',
 '3979322',
 '3980296',
 '3985791',
 '3999075',
 '401694',
 '4071950',
 '409633',
 '409695',
 '4200883',
 '421339',
 '4246',
 '424970',
 '425784',
 '427156',
 '431266',
 '4324',
 '4472',
 '4473531',
 '4492719',
 '451813',
 '453563',
 '455339',
 '455343',
 '455660',
 '457127',
 '457253',
 '459129',
 '460475',
 '461140',
 '461409',
 '461587',
 '461659',
 '463737',
 '4641',
 '467057',
 '469310',
 '475965',
 '477110',
 '477792',
 '478393',
 '478884',
 '480190',
 '480192',
 '480433',
 '482609',
 '484549',
 '484562',
 '485307',
 '488241',
 '492117',
 '493505',
 '494155',
 '494242',
 '495113',
 '495968',
 '496220',
 '4963',
 '496463',
 '498005',
 '499323',
 '499983',
 '500555',
 '501757',
 '52647',
 '5513',
 '55351',
 '60',
 '619615',
 '624815',
 '6367',
 '64209',
 '6548',
 '657024',
 '67',
 '70',
 '7002',
 '7017',
 '7313',
 '7402',
 '7498',
 '75',
 '78565',
 '7999',
 '8070',
 '8355',
 '8476',
 '84852',
 '8498',
 '8505',
 '8511',
 '8522',
 '8552',
 '8556',
 '8648',
 '8766',
 '8858',
 '8947',
 '9095',
 '9109',
 '9270',
 '9284',
 '9415',
 '94239',
 '9431',
 '97',
 '97268',
 '9728',
 '9861']

In [466]:
print(", ".join(df_list), end='\n\n')

101699, 102088, 104494, 10476, 106, 107338, 1076039, 107746, 10793, 10838, 1090381, 1090664, 109320, 109713, 11001, 110111, 110142, 11156, 112, 112090, 112268, 114411, 115, 115457, 115672, 116436, 11691, 116932, 118106, 11857, 11925, 119353, 119647, 1200405, 1200595, 120130, 121224, 121611, 121722, 122084, 122134, 122136, 1229, 1231, 123222, 12435, 124674, 125352, 12536, 12543, 125617, 126049, 127297, 128608, 129, 1304, 131660, 133892, 13542, 135502, 135666, 135669, 136625, 137277, 138432, 138437, 138458, 1385, 138775, 138794, 139059, 14044, 140917, 14139, 14227, 142945, 143112, 143179, 143404, 144, 1441118, 14452, 1466571, 14848, 148483, 1485228, 1485262, 148769, 1490807, 152583, 15292, 1541899, 154543, 154626, 154659, 15466, 155052, 155310, 155629, 156, 156525, 156842, 15838, 160, 1619112, 1620399, 1620438, 1622092, 1622228, 1622620, 1629875, 1629941, 1630433, 1630881, 1649093, 1650044, 166971, 167166, 1677995, 1687805, 16975, 170717, 171334, 171437, 173081, 173672, 17392, 1748968, 1749298, 1749575, 1749693, 1750260, 1751116, 1751526, 17688, 1773, 1786439, 1786645, 1786691, 1786713, 1787227, 1787429, 179, 1866297, 1866529, 1888837, 1888945, 1914307, 1963693, 198, 2, 200, 200958, 204033, 2046670, 206, 208041, 208373, 2083822, 208476, 209479, 210179, 2122974, 212821, 2138851, 2138891, 214205, 214548, 214853, 215733, 215754, 215947, 2182548, 219335, 219743, 219795, 2207011, 220803, 222134, 222451, 2227065, 224783, 225713, 226369, 227561, 227728, 227840, 229269, 2303440, 230711, 232997, 234131, 2355239, 2355637, 236955, 237984, 2383549, 2388740, 2388940, 2389902, 239, 2395489, 2403554, 2406231, 2411421, 2414306, 2421333, 2423388, 2430499, 243100, 2437182, 2438964, 2438965, 2475444, 2475793, 2478835, 2480164, 2487552, 2487671, 2509847, 255, 255833, 2561670, 2562209, 2562260, 257544, 265291, 265524, 267616, 2698569, 2698791, 2708920, 271, 2710191, 272, 272181, 272195, 272211, 273093, 2744590, 2751244, 275870, 2765898, 276916, 277, 278, 279, 280107, 280742, 2826221, 2834024, 2835809, 284, 284024, 2850484, 2854732, 286, 2866300, 2894729, 2896760, 2898364, 2898375, 2902778, 293660, 293818, 2941978, 294203, 2949946, 2951186, 2953194, 2953499, 2953926, 2955607, 296776, 2978528, 298739, 2988057, 3004377, 305, 3053791, 3067646, 307, 30700, 30970, 312910, 31313, 313662, 314080, 314487, 315703, 315705, 316015, 318979, 321, 321900, 322742, 323971, 324278, 324943, 329750, 330256, 330966, 3324, 33312, 337401, 338119, 338163, 338357, 339444, 33954, 340040, 340168, 342478, 3427422, 343255, 34591, 347504, 347655, 350151, 3526190, 35291, 3530149, 353030, 3531958, 3541996, 3548171, 35551, 356004, 356460, 3568976, 3569426, 3577781, 358112, 358473, 3587442, 35944, 360735, 3621491, 362264, 3624263, 3631797, 3638731, 3640202, 3657600, 36652, 36660, 3667937, 366934, 36820, 369038, 369815, 371564, 373690, 376543, 3772963, 377833, 378524, 3793448, 3794, 379622, 3818222, 3820664, 383753, 3848369, 3893357, 3906159, 3927073, 3969365, 3978589, 3979322, 3980296, 3985791, 3999075, 401694, 4071950, 409633, 409695, 4200883, 421339, 4246, 424970, 425784, 427156, 431266, 4324, 4472, 4473531, 4492719, 451813, 453563, 455339, 455343, 455660, 457127, 457253, 459129, 460475, 461140, 461409, 461587, 461659, 463737, 4641, 467057, 469310, 475965, 477110, 477792, 478393, 478884, 480190, 480192, 480433, 482609, 484549, 484562, 485307, 488241, 492117, 493505, 494155, 494242, 495113, 495968, 496220, 4963, 496463, 498005, 499323, 499983, 500555, 501757, 52647, 5513, 55351, 60, 619615, 624815, 6367, 64209, 6548, 657024, 67, 70, 7002, 7017, 7313, 7402, 7498, 75, 78565, 7999, 8070, 8355, 8476, 84852, 8498, 8505, 8511, 8522, 8552, 8556, 8648, 8766, 8858, 8947, 9095, 9109, 9270, 9284, 9415, 94239, 9431, 97, 97268, 9728, 9861

In [470]:
conn, engine = db_connection()
qry = 'SELECT * FROM star_album_genre_copy_'
alldf = pd.read_sql(qry, con=conn)
alldf.head()

,pk,series_id,vibeCd,name,new_albumName,release_date,genre,regist_date,update_date
0,23,2,117564,2NE1,None,None,None,2021-09-06 09:31:57,NaT
1,30,9,208477,EXO-K,None,None,None,2021-09-06 09:32:21,NaT
2,34,13,1234,god,None,None,None,2021-09-06 09:32:35,NaT
3,38,15,143596,JYJ,None,None,None,2021-09-06 09:40:08,NaT
4,41,18,9346,MC몽,None,None,None,2021-09-06 09:40:24,NaT

In [471]:
len(alldf)

2331

In [521]:
conn.close()