### 업데이트내역

202107051822 : 중복인이 있는 경우만 dataframe이 뜨도록 함
202107061442 : 쿼리 input에 중복인이 있는 경우 "OOO 중복인이 있습니다"도 같이 출력

In [20]:
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
from tqdm.notebook import tqdm
import requests
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
import numpy as np
import re
import time

# 아웃풋 다 노출되게
def set_pandas_display_options() -> None:
    display = pd.options.display
    display.max_columns = 100
    display.max_rows = 100
    display.max_colwidth = 199
    display.width = None
set_pandas_display_options()

overlap = []

df = pd.read_excel("sample.xlsx")
df.head(3)

,name,daum,naver,solr
0,박강현,x,https://people.search.naver.com/search.naver?where=nexearch&sm=tab_ppn&query=%EB%B0%95%EA%B0%95%ED%98%84&os=4064613&ie=utf8&key=PeopleService,NaN
1,김환희,x,https://people.search.naver.com/search.naver?where=nexearch&sm=tab_ppn&query=%EA%B9%80%ED%99%98%ED%9D%AC&os=13863475&ie=utf8&key=PeopleService,NaN
2,김수하,x,https://people.search.naver.com/search.naver?where=nexearch&sm=tab_ppn&query=%EA%B9%80%EC%88%98%ED%95%98&os=2841899&ie=utf8&key=PeopleService,NaN

In [21]:
#db 접속 함수
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import datetime
def db_connection(host_name='ds'):
    host_url = "db.ds.mycelebs.com"
    user_nm = "j_eungg"
    passwd = "wldms10529"
    port_num = 3306
    db_name = "star_ko"
    conn = pymysql.connect(host=host_url, user=user_nm, passwd=passwd, port=port_num, charset='utf8',
                           db=db_name, cursorclass=pymysql.cursors.DictCursor)
    # cursorclass=pymysql.cursors.DictCursor 추가 -> 데이터프레임으로 다루기 쉽게 딕셔너리 형태로 결과 반환해줌, cursor는 튜플형태
    # db=db,
    engine = create_engine(f'mysql+pymysql://{user_nm}:{passwd}@{host_url}:{port_num}/{db_name}?charset=utf8mb4')
    return conn, engine

#중복 인물 확인
conn, engine = db_connection()

for i, row in df.iterrows() :
    name = row['name']
    qry = f"select series_id, cd_name, cd_real_name, cd_category, cd_gender, cd_solr_search, cd_height, cd_weight, cd_birth, cd_agency, cd_debut, cd_academic, cd_career, cd_award from star_ko_data where (cd_name ='{name}' or cd_real_name='{name}') and cd_is_use=1"
    result = pd.read_sql(qry, conn)
    if result.empty:
        pass
    else :
        overlap.append(name)
        display(result)
    
conn.close()

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,3295,김환희,None,배우,여자,"(content_all:(title:""김환희"" AND type:news AND ""배우 김환희""~10))",None,None,2002-08-25,나무엑터스,2008년 SBS 드라마 '불한당',None,None,2011년 KBS 연기대상 여자 청소년연기상

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,11659376,이한울,,크리에이터,남자,"(content_all:(title:""이한울"" AND""가수""))",NaN,NaN,0000-00-00 00:00:00,올블루레코즈,,None,None,None
1,19067986,이한울,이한울,"영화배우,배우",남자,"(content_all:(title:""이한울"" AND type:news AND(""아역"" OR ""아이케이엔터테인먼트"" OR ""다녀왔습니다"" OR ""영애씨"" OR ""사바하"")))",0.0,0.0,2002-02-12 00:00:00,아이케이엔터테인먼트,None,None,None,None

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,769,이유리,,배우,여자,"(content_all:(title:""이유리""AND ""기자""))",163,43,None,더준엔터테인먼트,1999년 MBC '베스트극장',None,None,None
1,19344341,이주윤,이유리,영화배우,여자,"(content_all:(title:""이주윤"" AND type:news AND(""배우"")))",0,0,0000-00-00 00:00:00,None,None,단국대학교 영화콘텐츠전문대학원 스크린액팅,None,None

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,189,김지수,,배우,여자,"(content_all:( title :""김지수"" AND ""기자"" AND ""배우 김지수"" ~ 10 ))",167,45.0,1972-10-24,이끌엔터테인먼트,1992년 SBS 2기 공채 탤런트,경희대학교 연극영화학과 외 1건,,
1,695,윤세인,김지수,배우,여자,"(content_all:(title:""윤세인"" AND""기자"" AND""배우 윤세인""~5))",171,51.0,1987-01-18,,2011년 드라마 '폼나게 살거야',None,None,None
2,2281,지수,김지수,가수,여자,"(content_all:(title: ""지수""AND ""기자"" AND(""블랙핑크"" OR ""BLACKPINK"" ) ))",162,NaN,1995-01-03,YG엔터테인먼트,블랙핑크 싱글 1집 'SQUARE ONE',,블랙핑크 싱글 2집 'SQUARE TWO' 외 1건,
3,11223477,황희,김지수,연극배우,남자,"(content_all:(""RUN 황희""~10 OR ""의사요한 황희""~10))",177,67.0,1988-10-18,셀트리온 엔터테인먼트,2017년 tvN 드라마 '내일 그대와',None,2017.7 한국미래환경 홍보대사,None
4,18085528,김지수,김지수,가수,남자,"(content_all:(title:""김지수"" AND type:news AND(""가수 김지수"" OR ""싱어송라이터"" OR ""쇼파르"" OR ""슈퍼스타"" OR ""슈스케"") NOT""문화전문기자"" NOT""앵커""))",172,65.0,1990-02-05,쇼파르 뮤직,None,동덕여자대학교 대학원 실용음악과,2011.4 제8회 사랑의 거북이 전국 마라톤 대회 홍보대사,None

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,1207,김성환,,배우,남자,"(content_all:(title:""김성환"" AND""기자"") AND""배우 김성환"")",NaN,NaN,1950-05-25,,1970년 TBC 10기 공채 탤런트,경기대학교 외 1건,,
1,19157786,김성환,김성환,"영화감독,PD",남자,"(content_all:(title:""김성환"" AND type:news AND ""영화"" AND ""감독"" NOT ""화백""))",0.0,0.0,1970-04-22,None,None,건국대학교 철학과,None,"제17회 서울환경영화제 수상 (한국환경영화경선-장편대상, 월성)"

In [22]:
# 코비스 & 공연
chrome_options = webdriver.ChromeOptions()
driver = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)

pid = 'mycelebsTempUser'
ppw = 'mycelebs!@rookie'
driver.get(f'http://{pid}:{ppw}@dev.mycelebs.com/donut/')
alert = driver.switch_to.alert
alert.accept()
time.sleep(2.0)

driver.find_element_by_css_selector('#adminId').send_keys('rookie')
driver.find_element_by_css_selector('#adminPw').send_keys('1234')
btn = driver.find_element_by_css_selector('#loginForm > button')
btn.click()

chrome_options = webdriver.ChromeOptions()
profile = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)

# tabs = profile.window_handles

data = []

for i, row in tqdm(df.iterrows(), total=df.shape[0]) :
    name = row['name']
    naver = row['naver']
    keyword_list = []
    
    print(name)
    
    while True :
        try :
            profile.get(naver)
            
            time.sleep(1)
            
            source = profile.page_source
            soup = BeautifulSoup(source, "lxml")

            profile_dsc = soup.select('div[class=profile_dsc]')

            # 직업
            job = profile_dsc[0].select('dd[class=sub]')[0].text
            job = job.replace(" ", "")
            job = job.replace("탤런트", "배우")
            job = job.replace("영화배우", "배우")
            job = job.replace("영화감독", "감독")
            job = job.replace("연극배우", "연극,배우")
            job = job.replace("뮤지컬배우", "뮤지컬,배우")
            job = job.replace("시나리오작가", "작가")
            job = job.replace("애니메이션감독", "애니메이션")
            job = job.replace("영화제작자", "영화")
            keyword_list.extend(job.split(','))

            dt_in_profile_dsc_dsc = profile_dsc[0].select('dl[class=dsc]')[0].select('dt')
            dd_in_profile_dsc_dsc = profile_dsc[0].select('dl[class=dsc]')[0].select('dd')

            for row_len in range(len(dt_in_profile_dsc_dsc)) :
                title = dt_in_profile_dsc_dsc[row_len].text
                inner = dd_in_profile_dsc_dsc[row_len]

                # 소속사
                if title == '소속사' :
                    agency = inner.text.strip()
                    agency = agency.replace("엔터테인먼트", "")
                    agency = agency.lstrip() # 앞 공백 제거
                    keyword_list.append(agency)

                # 소속
                elif title == '소속' :
                    belong_not_celeb = inner.text
                    belong_not_celeb = belong_not_celeb.lstrip() # 앞 공백 제거
                    keyword_list.append(belong_not_celeb)
                
                # 소속그룹
                elif '그룹' in title :
                    belong_group = inner.text
                    belong_group = belong_group.replace(" ", "")
                    keyword_list.append(belong_group)
        
        except IndexError :
            continue
        break

            
    keyword_list = list(set(keyword_list))  # 중복제거

    
    if len(keyword_list) == 0 :
        solr = f'(content_all:(title:"{name}" AND type:news))'
    elif len(keyword_list) == 1 :
        solr = '(content_all:(title:"{}" AND type:news AND"{}"))'.format(name, keyword_list[0])
    elif len(keyword_list) == 2 :
        solr = '(content_all:(title:"{}" AND type:news AND("{}" OR "{}")))'.format(name, keyword_list[0], keyword_list[1])
    elif len(keyword_list) == 3 :
        solr = '(content_all:(title:"{}" AND type:news AND("{}" OR "{}" OR "{}")))'.format(name, keyword_list[0], keyword_list[1], keyword_list[2])
    elif len(keyword_list) == 4 :
        solr = '(content_all:(title:"{}" AND type:news AND("{}" OR "{}" OR "{}" OR "{}")))'.format(name, keyword_list[0], keyword_list[1], keyword_list[2], keyword_list[3])    
    else :
        solr = f'(content_all:(title:"{name}" AND type:news))'
        
#     break
           
    url = 'http://dev.mycelebs.com/donut/index.php/Verticalanalysis/ShowKeyword'
    driver.get(url)

    driver.find_element_by_xpath('//*[@id="query"]').clear()
    driver.find_element_by_xpath('//*[@id="query"]').send_keys(solr)
    driver.find_element_by_xpath('//*[@id="submit_btn"]').click()
    
    if (f'{name}') in overlap :
        solr_input = input(f'!! 중복인이 있습니다.')
    else :
        solr_input = input('솔라쿼리를 입력하세요.')
    if solr_input == '':
          solr_input = solr
    
    data_ = {'name':name, 'daum':'x', 'naver':naver, 'solr':solr_input}
    data.append(data_)
    
    
df = pd.DataFrame(data, columns = ['name', 'daum', 'naver', 'solr'])
df.to_excel("sample.xlsx", index = False, encoding='utf-8-sig')

driver.close()
profile.close()

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/jieun/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache


====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/jieun/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

  0%|          | 0/16 [00:00<?, ?it/s]

박강현
솔라쿼리를 입력하세요.(content_all:(title:"박강현" AND type:news AND("라이트하우스" OR "뮤지컬" OR "미라클라스")))
김환희
!! 중복인이 있습니다.(content_all:(title:"김환희" AND type:news AND("뮤지컬" OR "판타지아") NOT("아역" OR "곡성")))
김수하
솔라쿼리를 입력하세요.
이한울
!! 중복인이 있습니다.
이유리
!! 중복인이 있습니다.(content_all:(title:"이유리" AND type:news AND("연극 두 여자" OR "세실, 주희" OR "파라다이스 호텔") NOT"악역"))
김지수
!! 중복인이 있습니다.(content_all:(title:"김지수" AND type:news AND("택시 안에서" OR "사춘기 메들리" OR "멈춰진 계절")))
민광준
솔라쿼리를 입력하세요.
최혁
솔라쿼리를 입력하세요.(content_all:(title:"최혁" AND type:news AND("또 오해영" OR "프로듀사" OR "궁합" OR "권법형사" OR "위험한 상견례" OR "그녀를 믿지마세요")))
노승철
솔라쿼리를 입력하세요.
이승복
솔라쿼리를 입력하세요.
허솔빈
솔라쿼리를 입력하세요.
김성환
!! 중복인이 있습니다.(content_all:(title:"김성환" AND type:news AND("연극" OR "괜찮아 너니까" OR "멈춰진 계절" OR "뒤집다" OR "스크루지의 마술" OR "안녕 달아" OR "사랑을 말하다")))
이윤경
솔라쿼리를 입력하세요.
김영환
솔라쿼리를 입력하세요.(content_all:(title:"김영환" AND type:news AND("연극" OR "뮤지컬" OR "사랑일까" OR "써커스 피자" OR "룸넘버") NOT"의원" NOT"정치" NOT"미래통합당" NOT"국민의당" NOT"농구" NOT"선수" NOT"경기" NOT"리그" NOT"스포츠"))
변나라
솔라쿼리를 입력하세요.(content_all:(title:"변나라" AND type:news AND("연극" OR "수상한 흥신소")))
박은옥
솔라쿼리를 입력하세요.

In [19]:
# smr & vlive & 익디
chrome_options = webdriver.ChromeOptions()
driver = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)

pid = 'mycelebsTempUser'
ppw = 'mycelebs!@rookie'
driver.get(f'http://{pid}:{ppw}@dev.mycelebs.com/donut/')
alert = driver.switch_to.alert
alert.accept()
time.sleep(2.0)

driver.find_element_by_css_selector('#adminId').send_keys('rookie')
driver.find_element_by_css_selector('#adminPw').send_keys('1234')
btn = driver.find_element_by_css_selector('#loginForm > button')
btn.click()

chrome_options = webdriver.ChromeOptions()
profile = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)

# tabs = profile.window_handles

data = []

for i, row in tqdm(df.iterrows(), total=df.shape[0]) :
    name = row['name']
    naver = row['naver']
    keyword_list = []
    
    print(name)
    
    if pd.isnull(naver) :
        solr = f'(content_all:(title:"{name}" AND type:news))'
    
    elif naver == 'x' :
        solr = f'(content_all:(title:"{name}" AND type:news))'
    
    else :

        while True :
            try :
                profile.get(naver)
                source = profile.page_source
                soup = BeautifulSoup(source, "lxml")

                profile_dsc = soup.select('div[class=profile_dsc]')

                dt_in_profile_dsc_dsc = profile_dsc[0].select('dl[class=dsc]')[0].select('dt')
                dd_in_profile_dsc_dsc = profile_dsc[0].select('dl[class=dsc]')[0].select('dd')

                for row_len in range(len(dt_in_profile_dsc_dsc)) :
                    title = dt_in_profile_dsc_dsc[row_len].text
                    inner = dd_in_profile_dsc_dsc[row_len]

                    # 소속사
                    if title == '소속사' :
                        agency = inner.text.strip()
            #             agency = agency.replace("엔터테인먼트", "")
                        agency = agency.lstrip() # 앞 공백 제거
                        keyword_list.append(agency)

                    # 소속
                    elif title == '소속' :
                        belong_not_celeb = inner.text
                        belong_not_celeb = belong_not_celeb.lstrip() # 앞 공백 제거
                        keyword_list.append(belong_not_celeb)

                    elif '그룹' in title :
                        belong_group = inner.text
                        belong_group = belong_group.replace(" ", "")
                        keyword_list.append(belong_group)

                    elif title == '멤버' :
                        members = str(', '.join([ttt.strip() for ttt in inner.text.strip().split(',')]))
                        members = re.sub(r'\([^)]*\)', '', members)  # 괄호, 괄호 안 문자 삭제 ex. 온유(리더), 종현(메인보컬), ... 
                        members = members.replace(' ', '')
                        members = members.replace(',', '" OR "')
                        keyword_list.append(members)
                        keyword_list.append('그룹')

            except IndexError :
                continue
            break

    keyword_list = list(set(keyword_list))  # 중복제거


    if len(keyword_list) == 0 :
        solr = f'(content_all:(title:"{name}" AND type:news))'
    elif len(keyword_list) == 1 :
        solr = '(content_all:(title:"{}" AND type:news AND"{}"))'.format(name, keyword_list[0])
    elif len(keyword_list) == 2 :
        solr = '(content_all:(title:"{}" AND type:news AND("{}" OR "{}")))'.format(name, keyword_list[0], keyword_list[1])
    elif len(keyword_list) == 3 :
        solr = '(content_all:(title:"{}" AND type:news AND("{}" OR "{}" OR "{}")))'.format(name, keyword_list[0], keyword_list[1], keyword_list[2])
    elif len(keyword_list) == 4 :
        solr = '(content_all:(title:"{}" AND type:news AND("{}" OR "{}" OR "{}" OR "{}")))'.format(name, keyword_list[0], keyword_list[1], keyword_list[2], keyword_list[3])   
    else :
        solr = f'(content_all:(title:"{name}" AND type:news))'

    # 네이버 url 없는 애들
#     except :
#         solr = f'(content_all:(title:"{name}" AND type:news))'

    
    url = 'http://dev.mycelebs.com/donut/index.php/Verticalanalysis/ShowKeyword'
    driver.get(url)

    driver.find_element_by_xpath('//*[@id="query"]').clear()
    driver.find_element_by_xpath('//*[@id="query"]').send_keys(solr)
    driver.find_element_by_xpath('//*[@id="submit_btn"]').click()
    
    if (f'{name}') in overlap :
        solr_input = input(f'!! 중복인이 있습니다.')
    else :
        solr_input = input('솔라쿼리를 입력하세요.')
    if solr_input == '':
          solr_input = solr
    
    data_ = {'name':name, 'daum':'x', 'naver':naver, 'solr':solr_input}
    data.append(data_)
    
    
df = pd.DataFrame(data, columns = ['name', 'daum', 'naver', 'solr'])
df.to_excel("sample.xlsx", index = False, encoding='utf-8-sig')

driver.close()
profile.close()

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/jieun/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache


====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/jieun/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

  0%|          | 0/4 [00:00<?, ?it/s]

더블V
솔라쿼리를 입력하세요.(content_all:((title:"더블 V" title:"더블 브이") AND type:news AND("송은이" OR "김숙")))
소낙별
솔라쿼리를 입력하세요.
하이디
!! 중복인이 있습니다.(content_all:(title:"하이디" AND type:news AND"가수 하이디"~3 NOT("소나무" OR "TS" OR "티에스" OR "클룸" OR "모델")))
이진이
!! 중복인이 있습니다.(content_all:(title:"이진이" AND type:news AND("가수 이진이"~5 OR "TNK") NOT"핑클" NOT"황신혜" NOT"모델"))

In [16]:
solr

'(content_all:(title:"이진이" AND type:news AND"TNK엔터테인먼트"))'