In [1]:
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
from tqdm.notebook import tqdm
import requests
import time
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
import os
import datetime
import numpy as np
import re
import pymysql
from sqlalchemy import create_engine

def set_pandas_display_options() -> None:
    display = pd.options.display
    display.max_columns = 100
    display.max_rows = 100
    display.max_colwidth = 199
    display.width = None
set_pandas_display_options()

def db_connection(host_name='ds'):
    host_url = "db.ds.mycelebs.com"
    user_nm = "j_eungg"
    passwd = "mycelebs"
    port_num = 3306
    db_name = "star_ko"
    conn = pymysql.connect(host=host_url, user=user_nm, passwd=passwd, port=port_num, charset='utf8',
                           db=db_name, cursorclass=pymysql.cursors.DictCursor)
    # cursorclass=pymysql.cursors.DictCursor 추가 -> 데이터프레임으로 다루기 쉽게 딕셔너리 형태로 결과 반환해줌, cursor는 튜플형태
    # db=db,
    engine = create_engine(f'mysql+pymysql://{user_nm}:{passwd}@{host_url}:{port_num}/{db_name}?charset=utf8mb4')
    return conn, engine

In [2]:
df = pd.read_excel("profile_update_new.xlsx")
df = df.fillna("")

display(df)

,groupi,namei,series_idi,groupa,namea,series_ida,groupd,named,series_idd,namebc,nameac,series_idc,namem1,namem2,series_idm1,series_idm2,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,,,,걸스플래닛999 : 소녀대전 K GROUP,안정민,,,,,,,,,,,,,,,,,,,
1,,,,걸스플래닛999 : 소녀대전 K GROUP,조하은,,,,,,,,,,,,,,,,,,,
2,,,,걸스플래닛999 : 소녀대전 K GROUP,최혜린,,,,,,,,,,,,,,,,,,,
3,,,,걸스플래닛999 : 소녀대전 K GROUP,회예영,,,,,,,,,,,,,,,,,,,
4,,,,걸스플래닛999 : 소녀대전 K GROUP,최유진,,,,,,,,,,,,,,,,,,,
5,,,,걸스플래닛999 : 소녀대전 K GROUP,귄마야,,,,,,,,,,,,,,,,,,,
6,,,,걸스플래닛999 : 소녀대전 K GROUP,한다나,,,,,,,,,,,,,,,,,,,
7,,,,걸스플래닛999 : 소녀대전 K GROUP,휴닝바히에,,,,,,,,,,,,,,,,,,,
8,,,,걸스플래닛999 : 소녀대전 K GROUP,허지원,,,,,,,,,,,,,,,,,,,
9,,,,걸스플래닛999 : 소녀대전 K GROUP,정지윤,,,,,,,,,,,,,,,,,,,
10,,,,걸스플래닛999 : 소녀대전 K GROUP,정민,,,,,,,,,,,,,,,,,,,
11,,,,걸스플래닛999 : 소녀대전 K GROUP,강예서,,,,,,,,,,,,,,,,,,,
12,,,,걸스플래닛999 : 소녀대전 K GROUP,김보라,,,,,,,,,,,,,,,,,,,
13,,,,걸스플래닛999 : 소녀대전 K GROUP,김채현,,,,,,,,,,,,,,,,,,,
14,,,,걸스플래닛999 : 소녀대전 K GROUP,김다연,,,,,,,,,,,,,,,,,,,
15,,,,걸스플래닛999 : 소녀대전 K GROUP,김도아,,,,,,,,,,,,,,,,,,,
16,,,,걸스플래닛999 : 소녀대전 K GROUP,김혜림,,,,,,,,,,,,,,,,,,,
17,,,,걸스플래닛999 : 소녀대전 K GROUP,김세인,,,,,,,,,,,,,,,,,,,
18,,,,걸스플래닛999 : 소녀대전 K GROUP,김수연,,,,,,,,,,,,,,,,,,,
19,,,,걸스플래닛999 : 소녀대전 K GROUP,김예은,,,,,,,,,,,,,,,,,,,
20,,,,걸스플래닛999 : 소녀대전 K GROUP,김유빈,,,,,,,,,,,,,,,,,,,
21,,,,걸스플래닛999 : 소녀대전 K GROUP,이채윤,,,,,,,,,,,,,,,,,,,
22,,,,걸스플래닛999 : 소녀대전 K GROUP,이혜원,,,,,,,,,,,,,,,,,,,
23,,,,걸스플래닛999 : 소녀대전 K GROUP,이나연,,,,,,,,,,,,,,,,,,,
24,,,,걸스플래닛999 : 소녀대전 K GROUP,이선우,,,,,,,,,,,,,,,,,,,
25,,,,걸스플래닛999 : 소녀대전 K GROUP,이연경,,,,,,,,,,,,,,,,,,,
26,,,,걸스플래닛999 : 소녀대전 K GROUP,이윤지,,,,,,,,,,,,,,,,,,,
27,,,,걸스플래닛999 : 소녀대전 K GROUP,류시온,,,,,,,,,,,,,,,,,,,
28,,,,걸스플래닛999 : 소녀대전 K GROUP,서영은,,,,,,,,,,,,,,,,,,,
29,,,,걸스플래닛999 : 소녀대전 K GROUP,심승은,,,,,,,,,,,,,,,,,,,
30,,,,걸스플래닛999 : 소녀대전 K GROUP,서지민,,,,,,,,,,,,,,,,,,,
31,,,,걸스플래닛999 : 소녀대전 K GROUP,윤지아,,,,,,,,,,,,,,,,,,,
32,,,,걸스플래닛999 : 소녀대전 K GROUP,유다연,,,,,,,,,,,,,,,,,,,
33,,,,걸스플래닛999 : 소녀대전 J GROUP,안도 린카,,,,,,,,,,,,,,,,,,,
34,,,,걸스플래닛999 : 소녀대전 J GROUP,아라이 리사코,,,,,,,,,,,,,,,,,,,
35,,,,걸스플래닛999 : 소녀대전 J GROUP,아라타케 린카,,,,,,,,,,,,,,,,,,,
36,,,,걸스플래닛999 : 소녀대전 J GROUP,에자키 히카루,,,,,,,,,,,,,,,,,,,
37,,,,걸스플래닛999 : 소녀대전 J GROUP,후지모토 아야카,,,,,,,,,,,,,,,,,,,
38,,,,걸스플래닛999 : 소녀대전 J GROUP,하야세 하나,,,,,,,,,,,,,,,,,,,
39,,,,걸스플래닛999 : 소녀대전 J GROUP,하야시 후코,,,,,,,,,,,,,,,,,,,
40,,,,걸스플래닛999 : 소녀대전 J GROUP,히야조 나고미,,,,,,,,,,,,,,,,,,,
41,,,,걸스플래닛999 : 소녀대전 J GROUP,이케마 루안,,,,,,,,,,,,,,,,,,,
42,,,,걸스플래닛999 : 소녀대전 J GROUP,이나바 비비안,,,,,,,,,,,,,,,,,,,
43,,,,걸스플래닛999 : 소녀대전 J GROUP,이토 미유,,,,,,,,,,,,,,,,,,,
44,,,,걸스플래닛999 : 소녀대전 J GROUP,카미쿠라 레이,,,,,,,,,,,,,,,,,,,
45,,,,걸스플래닛999 : 소녀대전 J GROUP,카미모토 코토네,,,,,,,,,,,,,,,,,,,
46,,,,걸스플래닛999 : 소녀대전 J GROUP,칸노 미유,,,,,,,,,,,,,,,,,,,
47,,,,걸스플래닛999 : 소녀대전 J GROUP,카와구치 유리나,,,,,,,,,,,,,,,,,,,
48,,,,걸스플래닛999 : 소녀대전 J GROUP,키시다 리리카,,,,,,,,,,,,,,,,,,,
49,,,,걸스플래닛999 : 소녀대전 J GROUP,키타지마 유나,,,,,,,,,,,,,,,,,,,
50,,,,걸스플래닛999 : 소녀대전 J GROUP,쿠보 레이나,,,,,,,,,,,,,,,,,,,
51,,,,걸스플래닛999 : 소녀대전 J GROUP,쿠와하라 아야나,,,,,,,,,,,,,,,,,,,
52,,,,걸스플래닛999 : 소녀대전 J GROUP,메이,,,,,,,,,,,,,,,,,,,
53,,,,걸스플래닛999 : 소녀대전 J GROUP,무라카미 유메,,,,,,,,,,,,,,,,,,,
54,,,,걸스플래닛999 : 소녀대전 J GROUP,나가이 마나미,,,,,,,,,,,,,,,,,,,
55,,,,걸스플래닛999 : 소녀대전 J GROUP,나카무라 캬라,,,,,,,,,,,,,,,,,,,
56,,,,걸스플래닛999 : 소녀대전 J GROUP,노나카 샤나,,,,,,,,,,,,,,,,,,,
57,,,,걸스플래닛999 : 소녀대전 J GROUP,오카자키 모모코,,,,,,,,,,,,,,,,,,,
58,,,,걸스플래닛999 : 소녀대전 J GROUP,오키 후카,,,,,,,,,,,,,,,,,,,
59,,,,걸스플래닛999 : 소녀대전 J GROUP,오쿠마 스모모,,,,,,,,,,,,,,,,,,,
60,,,,걸스플래닛999 : 소녀대전 J GROUP,사카모토 마시로,,,,,,,,,,,,,,,,,,,
61,,,,걸스플래닛999 : 소녀대전 J GROUP,사카모토 시호나,,,,,,,,,,,,,,,,,,,
62,,,,걸스플래닛999 : 소녀대전 J GROUP,사쿠라이 미우,,,,,,,,,,,,,,,,,,,
63,,,,걸스플래닛999 : 소녀대전 J GROUP,시마 모카,,,,,,,,,,,,,,,,,,,
64,,,,걸스플래닛999 : 소녀대전 J GROUP,테라사키 히나,,,,,,,,,,,,,,,,,,,
65,,,,걸스플래닛999 : 소녀대전 J GROUP,야마우치 모아나,,,,,,,,,,,,,,,,,,,
66,,,,걸스플래닛999 : 소녀대전 C GROUP,차이빙,,,,,,,,,,,,,,,,,,,
67,,,,걸스플래닛999 : 소녀대전 C GROUP,장찡,,,,,,,,,,,,,,,,,,,
68,,,,걸스플래닛999 : 소녀대전 C GROUP,천신웨이,,,,,,,,,,,,,,,,,,,
69,,,,걸스플래닛999 : 소녀대전 C GROUP,지아이,,,,,,,,,,,,,,,,,,,
70,,,,걸스플래닛999 : 소녀대전 C GROUP,젠쯔링,,,,,,,,,,,,,,,,,,,
71,,,,걸스플래닛999 : 소녀대전 C GROUP,추이원메이시우,,,,,,,,,,,,,,,,,,,
72,,,,걸스플래닛999 : 소녀대전 C GROUP,푸야닝,,,,,,,,,,,,,,,,,,,
73,,,,걸스플래닛999 : 소녀대전 C GROUP,구이저우,,,,,,,,,,,,,,,,,,,
74,,,,걸스플래닛999 : 소녀대전 C GROUP,호쓰칭,,,,,,,,,,,,,,,,,,,
75,,,,걸스플래닛999 : 소녀대전 C GROUP,쉬니엔츠,,,,,,,,,,,,,,,,,,,
76,,,,걸스플래닛999 : 소녀대전 C GROUP,황씽치아오,,,,,,,,,,,,,,,,,,,
77,,,,걸스플래닛999 : 소녀대전 C GROUP,령척잉,,,,,,,,,,,,,,,,,,,
78,,,,걸스플래닛999 : 소녀대전 C GROUP,리이만,,,,,,,,,,,,,,,,,,,
79,,,,걸스플래닛999 : 소녀대전 C GROUP,량지아오,,,,,,,,,,,,,,,,,,,
80,,,,걸스플래닛999 : 소녀대전 C GROUP,량치아오,,,,,,,,,,,,,,,,,,,
81,,,,걸스플래닛999 : 소녀대전 C GROUP,린천한,,,,,,,,,,,,,,,,,,,
82,,,,걸스플래닛999 : 소녀대전 C GROUP,린슈윈,,,,,,,,,,,,,,,,,,,
83,,,,걸스플래닛999 : 소녀대전 C GROUP,리우쓰치,,,,,,,,,,,,,,,,,,,
84,,,,걸스플래닛999 : 소녀대전 C GROUP,리우위한,,,,,,,,,,,,,,,,,,,
85,,,,걸스플래닛999 : 소녀대전 C GROUP,마위링,,,,,,,,,,,,,,,,,,,
86,,,,걸스플래닛999 : 소녀대전 C GROUP,풍윙치,,,,,,,,,,,,,,,,,,,
87,,,,걸스플래닛999 : 소녀대전 C GROUP,션샤오팅,,,,,,,,,,,,,,,,,,,
88,,,,걸스플래닛999 : 소녀대전 C GROUP,수루이치,,,,,,,,,,,,,,,,,,,
89,,,,걸스플래닛999 : 소녀대전 C GROUP,왕치우루,,,,,,,,,,,,,,,,,,,
90,,,,걸스플래닛999 : 소녀대전 C GROUP,왕야러,,,,,,,,,,,,,,,,,,,
91,,,,걸스플래닛999 : 소녀대전 C GROUP,원저,,,,,,,,,,,,,,,,,,,
92,,,,걸스플래닛999 : 소녀대전 C GROUP,우태미,,,,,,,,,,,,,,,,,,,
93,,,,걸스플래닛999 : 소녀대전 C GROUP,시아옌,,,,,,,,,,,,,,,,,,,
94,,,,걸스플래닛999 : 소녀대전 C GROUP,쉬워웨이,,,,,,,,,,,,,,,,,,,
95,,,,걸스플래닛999 : 소녀대전 C GROUP,쉬쯔인,,,,,,,,,,,,,,,,,,,
96,,,,걸스플래닛999 : 소녀대전 C GROUP,양쯔거,,,,,,,,,,,,,,,,,,,
97,,,,걸스플래닛999 : 소녀대전 C GROUP,장루오페이,,,,,,,,,,,,,,,,,,,
98,,,,걸스플래닛999 : 소녀대전 C GROUP,저우신위,,,,,,,,,,,,,,,,,,,

## 프로필 이미지 작업 - sereis_id 찾기

In [76]:
conn, engine = db_connection()
cursor = conn.cursor(pymysql.cursors.DictCursor)

df = pd.read_excel("profile_update_new.xlsx")
df = df.fillna("")

picturelist=[]

for i, row in df.iterrows() :
    groupi = row['groupi']
    namei = row['namei']
    qry = f"select series_id, cd_name, cd_real_name, cd_category, cd_gender, cd_solr_search, cd_height, cd_weight, cd_birth, cd_agency, cd_debut, cd_academic, cd_career, cd_award,  FROM star_ko_data WHERE cd_name ='{namei}' AND (profile_url_main LIKE '%man%' OR profile_url_main LIKE '%woman%' OR profile_url_main LIKE '%group%') AND cd_is_use=1"
    result = pd.read_sql(qry, conn)
    print(namei)
    
    if result.empty :
        series_idi = ''
        picture_ = {'groupi':groupi, 'namei':namei,'series_idi':series_idi}
                
    elif len(result) == 1 :
#         display(result)
        series_idi = result['series_id'][0]
        picture_ = {'groupi':groupi, 'namei':namei,'series_idi':series_idi}
        
    else :
        print(groupi, namei)
        display(result)
        series_idi = input(f'{groupi} - {namei} series_id를 입력하세요 ')
        picture_ = {'groupi':groupi, 'namei':namei,'series_idi':series_idi}
    
    picturelist.append(picture_)
        
picturelists = pd.DataFrame(picturelist, columns = ['groupi', 'namei', 'series_idi'])
picturelists.to_excel("image.xlsx", index = False, encoding='utf-8-sig')
display(picturelists)

 양양

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,13896882,양양,리우양양/YANGYANG,가수,남자,"(content_all:(title:""양양"" AND ""기자"" AND (""NCT"" OR ""엔시티"" OR ""엔씨티"" OR ""WayV"") NOT""빙의글""))",NaN,NaN,2000-10-10,SM엔터테인먼트,2019년 WayV <Regular>,None,2019 그룹 'WayV' 멤버,None
1,18955923,양양,양윤정,가수,여자,"(content_all:(title:""양양"" AND type:news AND(""엔라이브"" OR ""양윤정"" OR ""GO"" OR ""쓸쓸해서"" OR ""브런치 콘서트"" OR ""오버랜드"") NOT""NCT"" NOT""웨이션브이"" NOT""강원"" NOT""복면가왕""))",0.0,0.0,1978-01-06,엔라이브,2000년 1집 앨범 [GO! 고!],한양대학교 연극영화학 학사,None,None

양양 series_id를 입력하세요 18955923
유앤비 준

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,2563,준,文俊輝,가수,남자,"(content_all:(title:""준"" AND""기자"" AND(""세븐틴"" OR ""Seventeen"" OR ""플레디스"")))",180.0,66.0,1996-06-10 00:00:00,플레디스,2015년 EP 앨범 '17 CARAT',None,None,None
1,2999,준,,가수,여자,"(content_all:(title:""준"" AND type:news AND""어썸베이비""))",NaN,NaN,1994-05-12 00:00:00,"에이나인미디어, 티엔네이션엔터테인먼트",2015년 어썸베이비 디지털 싱글 앨범 [내가 왜?],,,
2,478684,준,None,가수,남자,"(content_all:(""NH미디어 준""~10))",185.0,61.0,1997-01-22 00:00:00,NH미디어,2014년 유키스 미니 앨범 [MONO SCANDAL],None,None,None
3,6882381,준,JUNE,가수,남자,"(content_all:(""플라네타리움 준""~5))",NaN,NaN,1996-02-27 00:00:00,인넥스트트렌드(플라네타리움 레코드),2018년 EP 앨범 [PLANETARIUM CASE#1],None,None,None
4,18989417,준,박준희/JUN,가수,남자,"(content_all: (title: ""준"" AND type:news AND(""그룹 에이스"" OR ""비트인터렉티브"")))",175.0,60.0,0000-00-00 00:00:00,비트인터렉티브,2017년 에이스 싱글 앨범 '선인장',None,2017 그룹 '에이스' 멤버,None
5,19421266,준,김현준,가수,남자,"(content_all:(title:""준"" AND type:news AND(""버뮤다"" OR ""페이스메이커 엔터테인먼트"" NOT ""더유닛"" NOT ""준Q"" NOT ""유키스"")))",175.0,62.0,1993-01-15 00:00:00,페이스메이커 엔터테인먼트,2017년 버뮤다 정규 앨범 'Triangle',None,그룹 '버뮤다' 멤버,None

준 series_id를 입력하세요
유앤비 마르코

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,1368,마르코,Marcos,"배우,모델",남자,"(content_all:(title:""마르코""AND""기자""AND""모델""NOT""웹드라마""NOT""호텔""))",179,68,1977-07-12 00:00:00,상아 엔터테인먼트,,,,
1,829418,마르코,Marcos Danilo Urena Porras/Marcos Urena,운동선수,남자,"(content_all:(""마르코스 우레나"" OR ""Marcos Urena""))",175,75,1990-03-05 00:00:00,센트럴코스트 마리너스 FC 공격수(F,2007,None,2018 제21회 러시아 월드컵 코스타리카 국가대표 외 9건,None
2,18463223,마르코,마르코,가수,남자,"(content_all:(title:""마르코"" AND""기자"" AND""유앤비""))",180,0,0000-00-00 00:00:00,None,None,None,None,None
3,19359715,마르코,린판/Marco,가수,여자,"(content_all:(title:""마르코"" AND type:news AND (""팬시레드"" OR ""토브엔터테인먼트"")))",0,0,0000-00-00 00:00:00,토브엔터테인먼트,2019년 팬시레드 1집 앨범 [ACTIVATE],None,None,None

마르코 series_id를 입력하세요 18463223
 정동환

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,11551069,정동환,정동환,방송인,남자,"(content_all:(""머니게임 정동환""~20 OR ""탤런트 정동환""~10))",NaN,NaN,1949-08-05,None,1969년 연극 '낯선 사나이',서울예술대학교 연극과,2003 청운대학교 방송연기학과 겸임교수,2019.12 KBS 연기대상 남자 연작단막극상
1,18777440,정동환,정동환,가수,남자,"(content_all:(title:""정동환"" AND type:news AND(""멜로망스"" OR ""민트페이퍼"" OR ""광합성"" OR ""피아니스트"") NOT""파우스트""))",0.0,0.0,1992-01-11,민트페이퍼,2015년 멜로망스 EP 앨범 'Sentimental',서울예술대학교 실용음악과 학사,그룹 '멜로망스' 멤버,제7회 자라섬국제재즈콩쿨 베스트 솔로이스트

정동환 series_id를 입력하세요

      groupi      namei series_idi
0                    라니   18974163
1                   모에카   11222184
2                   김희성   18974039
3                    양양   18955923
4                   이문영   18905537
5                   김문수   18955880
6                   유리아   18958755
7                   정명진   18885847
8                    그완   18883762
9   피터팬 컴플렉스  (그룹프로필사진)
10               TAKUWA   12750865
11                  김예은   18599976
12                  이찬솔   11659401
13                  이윤정       1752
14     철이와미애  (그룹프로필사진)
15       유앤비        지한솔   18372164
16       유앤비          준
17       유앤비         동훈   18989418
18       유앤비         대원   18569614
19       유앤비        마르코   18463223
20       뉴키드         우철   17615454
21       뉴키드        강승찬   18508936
22   김사월X김해원  (그룹프로필사진)
23              사비나앤드론즈   11613322
24                   서기   18260658
25                  정동환
26                   진보   19034870
27  라이너스의 담요  (그룹프로필사진)
28                   정키   11737603

# 멤버 작업 - 구성원 수정 & 매핑 & 신규 개체 추출

In [39]:
conn, engine = db_connection()
cursor = conn.cursor(pymysql.cursors.DictCursor)

chrome_options = webdriver.ChromeOptions()
naver = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)
naver.get(f'https://people.search.naver.com/')

df = pd.read_excel("profile_update_new.xlsx")
groupa = df['groupa']
group_list = groupa.to_list()
group_list = pd.unique(group_list).tolist()  # 유니크한 그룹 리스트
group_list = [x for x in group_list if pd.isnull(x) == False]  # nan 제거

final_list = []  # 신규 등록해야 하는 인물만 저장
    
for i in group_list :
    groupa = i
    
    groupqry = f"select * from star_ko_members where group_name = '{groupa}'"
    groupqryresult = pd.read_sql(groupqry, conn)
    
    if len(groupqryresult) != 0 :
        display(groupqryresult)
    else :
        groupa = input('[INFO] 결과가 없습니다. 그룹명을 재입력하세요. ')
        groupqry = f"select * from star_ko_members where group_name = '{groupa}'"
        groupqryresult = pd.read_sql(groupqry, conn)
        display(groupqryresult)
        
    naver.find_element_by_xpath('//*[@id="nx_query"]').clear()
    naver.find_element_by_xpath('//*[@id="nx_query"]').send_keys(groupa)
    naver.find_element_by_xpath('//*[@id="nx_query"]').send_keys(Keys.RETURN)
        
    question = input(f'{groupa} - 멤버 수정이 필요한가요? (ㅇ/ㄴ) ' )
    
    # 수정이 필요한 경우,
    ## star_ko_members 에서 해당 그룹 멤버들 row 삭제 -> 네이버에서 복붙한 멤버들 토대로 row 새로 인서트  
    ## 이 때 기존에 매핑되어 있던 멤버들은 자동으로 재매핑 된다
    
    if question == 'ㅇ' :
        before_groupqryresult = groupqryresult
#         mapping_member = before_groupqryresult[pd.isnull(before_groupqryresult['related_series_id']) == False]
#         mapping_member_ = mapping_member['related_name'].to_list()
        
        groupid = input(f'group_id를 입력하세요 ' )

        delete_qry = f"DELETE FROM star_ko_members WHERE group_name='{groupa}'"
        insert_qry_ = f"INSERT INTO star_ko_members (`group_id`, `group_name`, `related_series_id`, `related_name`, `group_type`, `gender`) VALUES ({groupid}, '{groupa}', '{groupid}', '{groupa}', 'member', '')"
        cursor.execute(delete_qry)
        cursor.execute(insert_qry_)
        conn.commit()

        members = []
        member = input('멤버들을 입력하세요 ')
        member = re.sub(r'\([^)]*\)', '', member) # 괄호, 괄호 안 문자 삭제 ex. 온유(리더), 종현(메인보컬), ... 
        members.extend(member.split(', '))

        gender = input('보이그룹이면 "남", 걸그룹이면 "여", 혼성그룹이면 "혼성"을 입력하세요 ')
        if gender == '남' :
            for m in members :
                insert_qry = f"INSERT INTO star_ko_members (`group_id`, `group_name`, `related_series_id`, `related_name`, `group_type`, `gender`) VALUES ({groupid}, '{groupa}', NULL, '{m}', 'solo', '남')"
                cursor.execute(insert_qry)
        elif gender == '여' :
            for m in members :
                insert_qry = f"INSERT INTO star_ko_members (`group_id`, `group_name`, `related_series_id`, `related_name`, `group_type`, `gender`) VALUES ({groupid}, '{groupa}', NULL, '{m}', 'solo', '여')"
                cursor.execute(insert_qry)
        else : 
            for m in members :
                member_gender = input(f'{m}의 성별을 입력하세요 ')
                insert_qry = f"INSERT INTO star_ko_members (`group_id`, `group_name`, `related_series_id`, `related_name`, `group_type`, `gender`) VALUES ({groupid}, '{groupa}', NULL, '{m}', 'solo', '{member_gender}')"
                cursor.execute(insert_qry)

        conn.commit()
        
        for i, row in before_groupqryresult[1:].iterrows() :  # 이미 매핑되어 있던 멤버들 재매핑
            group_name = row['group_name']
            related_series_id = row['related_series_id']
            related_name = row['related_name']
    
            if pd.isnull(related_series_id) :
                pass
            else :
                update_qry = f"UPDATE star_ko_members SET related_series_id={int(related_series_id)} where group_name='{group_name}' AND related_name='{related_name}'"
                cursor.execute(update_qry)
            conn.commit()

        groupqry = f"select * from star_ko_members where group_name = '{groupa}'"
        groupqryresult = pd.read_sql(groupqry, conn)
        display(groupqryresult)
        
    # 매핑된 멤버들 리스트로 따로 저장    
    mapping_member = groupqryresult[pd.isnull(groupqryresult['related_series_id']) == False]
    mapping_member_ = mapping_member['related_name'].to_list()
    
    final_member = groupqryresult[groupqryresult['group_name'] == groupa].related_name
    for fm in final_member[1: ] :  # 그룹 빼고 멤버만
       
        if fm in mapping_member_ :  # 이미 매핑이 되어있다면 패스, 아니면 series_id 찾기
            pass
        else :
            group = groupa
            qry = f"select series_id, cd_name, cd_real_name, cd_category, cd_gender, cd_solr_search, cd_height, cd_weight, cd_birth, cd_agency, cd_debut, cd_academic, cd_career, cd_award from star_ko_data where (cd_name ='{fm}' or cd_real_name='{fm}') and cd_is_use=1" 
            result = pd.read_sql(qry, conn)

            if result.empty:
                print(f"[INFO] {groupa} - {fm} 동명이인이 없습니다.")
                anothername = input(f'다른 이름을 입력하세요. ')
                if anothername == "" :
                    final_list_ = {'groupa':group, 'namea':fm, 'series_id':''}
                else :
                    qry2 = f"select series_id, cd_name, cd_real_name, cd_category, cd_gender, cd_solr_search, cd_height, cd_weight, cd_birth, cd_agency, cd_debut, cd_academic, cd_career, cd_award from star_ko_data where (cd_name ='{anothername}' or cd_real_name='{anothername}') and cd_is_use=1"   
                    result2 = pd.read_sql(qry2, conn)
                    if result2.empty:
                        print(f"[INFO] {anothername} 동명이인이 없습니다.")
                        final_list_ = {'groupa':group, 'namea':fm, 'series_id':''}
                    else :
                        display(result2)
                        series_id = input(f'{fm} series_id를 입력하세요 ')
                        if series_id == "" :
                            final_list_ = {'groupa':group, 'namea':fm, 'series_id':''}
                        else :
                            update_qry = f"UPDATE star_ko_members SET related_series_id={series_id} where group_name='{groupa}' AND related_name='{fm}'"
                            cursor.execute(update_qry)
            else :
                display(result)
                series_id = input(f'{fm} series_id를 입력하세요 ')
                if series_id == "" :
                    anothername = input(f'다른 이름을 입력하세요. ')
                    if anothername == "" :
                        final_list_ = {'groupa':group, 'namea':fm, 'series_id':''}
                    else :
                        qry2 = f"select series_id, cd_name, cd_real_name, cd_category, cd_gender, cd_solr_search, cd_height, cd_weight, cd_birth, cd_agency, cd_debut, cd_academic, cd_career, cd_award from star_ko_data where (cd_name ='{anothername}'or cd_real_name='{anothername}') and cd_is_use=1"   
                        result2 = pd.read_sql(qry2, conn)
                        if result2.empty:
                            print(f"[INFO] {anothername} 동명이인이 없습니다.")
                            final_list_ = {'groupa':group, 'namea':fm, 'series_id':''}
                        else :
                            display(result2)
                            series_id = input(f'{fm} series_id를 입력하세요 ')
                            if series_id == "" :
                                final_list_ = {'groupa':group, 'namea':fm, 'series_id':''}
                            else :
                                update_qry = f"UPDATE star_ko_members SET related_series_id = '{series_id}' where group_name = '{groupa}' AND related_name = '{fm}'"
                                cursor.execute(update_qry)
                else :
                    update_qry = f"UPDATE star_ko_members SET related_series_id = '{series_id}' where group_name = '{groupa}' AND related_name = '{fm}'"
                    cursor.execute(update_qry)

            conn.commit()

            final_list.append(final_list_)

conn.close()
naver.close()

print("[INFO] DONE !")

final = pd.DataFrame(final_list)
final.to_excel('member.xlsx')

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 92.0.4515
[WDM] - Get LATEST driver version for 92.0.4515
[WDM] - Driver [C:\Users\conta\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

     pk  group_id group_name  related_series_id related_name group_type gender
0  6684   5214012       걸카인드          5214012.0         걸카인드     member
1  6685   5214012       걸카인드             2915.0           세흔       solo      여
2  6686   5214012       걸카인드         12750864.0           엘린       solo      여
3  6687   5214012       걸카인드          6983047.0           지강       solo      여
4  6688   5214012       걸카인드                NaN         메딕 진       solo      여

걸카인드 - 멤버 수정이 필요한가요? (ㅇ/ㄴ)
[INFO] 걸카인드 - 메딕 진 동명이인이 없습니다.
다른 이름을 입력하세요.

     pk  group_id group_name  related_series_id related_name group_type gender
0  6678   5213877        엠펙트            5213877          엠펙트     member

엠펙트 - 멤버 수정이 필요한가요? (ㅇ/ㄴ) ㅇ
group_id를 입력하세요 5213877
멤버들을 입력하세요 M건(리더), 희재(보컬), 종걸(랩), 제일(보컬)
보이그룹이면 "남", 걸그룹이면 "여", 혼성그룹이면 "혼성"을 입력하세요 남

     pk  group_id group_name  related_series_id related_name group_type gender
0  6689   5213877        엠펙트          5213877.0          엠펙트     member
1  6690   5213877        엠펙트                NaN           M건       solo      남
2  6691   5213877        엠펙트                NaN           희재       solo      남
3  6692   5213877        엠펙트                NaN           종걸       solo      남
4  6693   5213877        엠펙트                NaN           제일       solo      남

[INFO] 엠펙트 - M건 동명이인이 없습니다.
다른 이름을 입력하세요.

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,478861,희재,유희재,가수,남자,"(content_all:(""제이제이홀릭미디어 희재""~10))",None,None,1994-02-22,제이제이홀릭미디어,2016년 미니 앨범 [Strange],None,None,None

희재 series_id를 입력하세요
다른 이름을 입력하세요.
[INFO] 엠펙트 - 종걸 동명이인이 없습니다.
다른 이름을 입력하세요.

,series_id,cd_name,cd_real_name,cd_category,cd_gender,cd_solr_search,cd_height,cd_weight,cd_birth,cd_agency,cd_debut,cd_academic,cd_career,cd_award
0,19421263,제일,박지수,가수,남자,"(content_all:(title:""제일"" AND type:news AND(""버뮤다"" OR ""페이스메이커 엔터테인먼트"" NOT ""제일 멋져"")))",173,57,1993-04-28,페이스메이커 엔터테인먼트,2017년 버뮤다 정규 앨범 'Triangle',None,그룹 '버뮤다' 멤버,None

제일 series_id를 입력하세요
다른 이름을 입력하세요.

In [ ]:
# 이름 여러번 검색할 수 있게끔

## 활동명 변경

In [25]:
conn, engine = db_connection()
cursor = conn.cursor(pymysql.cursors.DictCursor)

chrome_options = webdriver.ChromeOptions()
# chrome_options.add_argument('--headless')
driver = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)

pid = 'mycelebsTempUser'
ppw = 'mycelebs!@rookie'
driver.get(f'http://{pid}:{ppw}@dev.mycelebs.com/donut/')
alert = driver.switch_to.alert
alert.accept()
time.sleep(2.0)

driver.find_element_by_css_selector('#adminId').send_keys('rookie')
driver.find_element_by_css_selector('#adminPw').send_keys('1234')
btn = driver.find_element_by_css_selector('#loginForm > button')
btn.click()

df = pd.read_excel("profile_update_new.xlsx")

for i, row in df.iterrows() :
    namebc = row['namebc']
    nameac = row['nameac']
    series_idc = row['series_idc']
    
    if pd.isnull(namebc) :
        pass
    else :        
#         qry = f"SELECT series_id FROM star_ko_data WHERE cd_name='{namebc}'"
#         result = pd.read_sql(qry, conn)
#         series_idc = result.iloc[0, 0]
        
        url = 'http://dev.mycelebs.com/donut/Celeb/ShowManageCeleb/' + str(series_idc)
        driver.get(url)
        
        # 이름
        name = driver.find_element_by_xpath('//*[@id="s_cd_name"]').get_attribute('value')
        driver.find_element_by_xpath('//*[@id="s_cd_name"]').clear()
        driver.find_element_by_xpath('//*[@id="s_cd_name"]').send_keys(nameac)
        
        # 검색어
        search_word = driver.find_element_by_xpath('//*[@id="s_cd_search_word"]').get_attribute('value')
        search_word_ = search_word.replace(f'{namebc}', f'{nameac}')
        driver.find_element_by_xpath('//*[@id="s_cd_search_word"]').clear()
        driver.find_element_by_xpath('//*[@id="s_cd_search_word"]').send_keys(search_word_)
        
        # 본명/영어이름
        real_name = driver.find_element_by_xpath('//*[@id="s_cd_real_name"]').get_attribute('value')
        real_name_ = real_name.replace(f'{nameac}', f'{namebc}')
        driver.find_element_by_xpath('//*[@id="s_cd_real_name"]').clear()
        driver.find_element_by_xpath('//*[@id="s_cd_real_name"]').send_keys(real_name_)
        
        # 등록
        driver.find_element_by_xpath('//*[@id="write"]/div/div/div[2]/div/input').click()
        
        time.sleep(1)
        alert.accept()
        
        print(f"[INFO] {namebc} 의 활동명이 {nameac} 로 변경되었습니다. ")

conn.close()
driver.close()

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 92.0.4515
[WDM] - Get LATEST driver version for 92.0.4515

[WDM] - Driver [C:\Users\conta\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

아이돌 | 콘서트 | 노래 | 공연 | 온유 | 종현 | 키 | 민호 | 태민 "SHINee"
가수"ATEEZ"

## 프로필 미공개

In [ ]:
chrome_options = webdriver.ChromeOptions()
# chrome_options.add_argument('--headless')
driver = webdriver.Chrome(ChromeDriverManager().install(), options=chrome_options)

pid = 'mycelebsTempUser'
ppw = 'mycelebs!@rookie'
driver.get(f'http://{pid}:{ppw}@dev.mycelebs.com/donut/')
alert = driver.switch_to.alert
alert.accept()
time.sleep(2.0)

driver.find_element_by_css_selector('#adminId').send_keys('rookie')
driver.find_element_by_css_selector('#adminPw').send_keys('1234')
btn = driver.find_element_by_css_selector('#loginForm > button')
btn.click()

df = pd.read_excel("profile_update_new.xlsx")

for i, row in df.iterrows() :
    namem1 = row['namem1']
    series_idm2 = row['series_idm2']
    
    if pd.isnull(series_idm2) :
        pass
    else :        
        url = 'http://dev.mycelebs.com/donut/Celeb/ShowManageCeleb/' + str(series_idm2)
        driver.get(url)
            
        # 미공개
        driver.find_element_by_xpath('//*[@id="s_cd_is_use"]/option[1]').click()
        
        time.sleep(1)
        alert.accept()
        
        print("[INFO] {0} - {1} 미공개 처리 완료 ".format(namem1, series_idm2))

driver.close()

In [3]:
data_list = []

for i, row in df.iterrows() :
    groupa = row['groupa']
    namea = row['namea']

    df_ = {'그룹':groupa, '이름':namea}
    data_list.append(df_)
    
data = pd.DataFrame(data_list)

In [10]:
k_member = []
j_member = []
c_member = []

for i in data_list :
    if i['그룹'] == '걸스플래닛999 : 소녀대전 K GROUP' :
        k_member.append(i['이름'])
        
    elif i['그룹'] == '걸스플래닛999 : 소녀대전 J GROUP' :        
        j_member.append(i['이름'])
        
    else :
        c_member.append(i['이름'])

In [25]:
print(", ".join(j_member), end='\n\n')

안도 린카, 아라이 리사코, 아라타케 린카, 에자키 히카루, 후지모토 아야카, 하야세 하나, 하야시 후코, 히야조 나고미, 이케마 루안, 이나바 비비안, 이토 미유, 카미쿠라 레이, 카미모토 코토네, 칸노 미유, 카와구치 유리나, 키시다 리리카, 키타지마 유나, 쿠보 레이나, 쿠와하라 아야나, 메이, 무라카미 유메, 나가이 마나미, 나카무라 캬라, 노나카 샤나, 오카자키 모모코, 오키 후카, 오쿠마 스모모, 사카모토 마시로, 사카모토 시호나, 사쿠라이 미우, 시마 모카, 테라사키 히나, 야마우치 모아나

In [23]:
conn, engine = db_connection()
cursor = conn.cursor(pymysql.cursors.DictCursor)

groupid = 'NULL'
groupa = '걸스플래닛999 : 소녀대전 C GROUP'

insert_qry_ = f"INSERT INTO star_ko_members (`group_id`, `group_name`, `related_series_id`, `related_name`, `group_type`, `gender`) VALUES ({groupid}, '{groupa}', {groupid}, '{groupa}', 'member', '')"
print(insert_qry_)
cursor.execute(insert_qry_)
conn.commit()

members = []
member = input('멤버들을 입력하세요 ')
member = re.sub(r'\([^)]*\)', '', member) # 괄호, 괄호 안 문자 삭제 ex. 온유(리더), 종현(메인보컬), ... 
members.extend(member.split(', '))

gender = input('보이그룹이면 "남", 걸그룹이면 "여", 혼성그룹이면 "혼성"을 입력하세요 ')
if gender == '남' :
    for m in members :
        insert_qry = f"INSERT INTO star_ko_members (`group_id`, `group_name`, `related_series_id`, `related_name`, `group_type`, `gender`) VALUES ({groupid}, '{groupa}', NULL, '{m}', 'solo', '남')"
        cursor.execute(insert_qry)
elif gender == '여' :
    for m in members :
        insert_qry = f"INSERT INTO star_ko_members (`group_id`, `group_name`, `related_series_id`, `related_name`, `group_type`, `gender`) VALUES ({groupid}, '{groupa}', NULL, '{m}', 'solo', '여')"
        cursor.execute(insert_qry)
else : 
    for m in members :
        member_gender = input(f'{m}의 성별을 입력하세요 ')
        insert_qry = f"INSERT INTO star_ko_members (`group_id`, `group_name`, `related_series_id`, `related_name`, `group_type`, `gender`) VALUES ({groupid}, '{groupa}', NULL, '{m}', 'solo', '{member_gender}')"
        cursor.execute(insert_qry)

conn.commit()

INSERT INTO star_ko_members (`group_id`, `group_name`, `related_series_id`, `related_name`, `group_type`, `gender`) VALUES (NULL, '걸스플래닛999 : 소녀대전 C GROUP', NULL, '걸스플래닛999 : 소녀대전 C GROUP', 'member', '')
멤버들을 입력하세요 차이빙, 장찡, 천신웨이, 지아이, 젠쯔링, 추이원메이시우, 푸야닝, 구이저우, 호쓰칭, 쉬니엔츠, 황씽치아오, 령척잉, 리이만 , 량지아오, 량치아오, 린천한, 린슈윈, 리우쓰치, 리우위한, 마위링, 풍윙치, 션샤오팅, 수루이치, 왕치우루, 왕야러, 원저, 우태미, 시아옌, 쉬워웨이, 쉬쯔인, 양쯔거, 장루오페이, 저우신위
보이그룹이면 "남", 걸그룹이면 "여", 혼성그룹이면 "혼성"을 입력하세요 여